
// variables owned by the theme
$bear-green: #C8D584;
$bear-text: #FFFACD;
$mes-brown: #222222;
$mes-me-brown: #2c2523;

// chat colors
$bg-color: #2F4F4F;
$general-text-color: transparentize( $bear-text , 0.14 );
//~ $general-text-color: $bear-text;
$title-text-color: $bear-green;
$message-me-bg: rgba(163, 83, 49, 0.08);
$message-list-bg: #222;
$user-text-color-in-user-list: $bear-green;

$connected-user-text-color-in-user-list: $bear-green;
$connected-user-bg-color-in-user-list: rgba(0,0,0,0.1);

$user-text-color-in-message: $bear-green;
$code-text-color: #999;
$input-bg: lighten($bg-color, 6%);
$input-text-color: white;
$notification-text-color: #A0522D;
$message-link-color: #c07220;
$slashme-color: transparentize( $bear-text , 0.6 );

//~ $side-message-even-background: none;

$message-content-table-border-color: $bg-color;

$message-decoration-button-box-shadow: none;

$decoration-color: rgba($bear-text,.2);
$decoration-clickable-color: $bear-text;

$message-menu-bg: $bg-color;
$message-menu-color: $bear-text;
$message-menu-txt-color: $bear-text;
$message-menu-vote-color: rgba($bear-text,.2);
$message-menu-vote-hover-color: $bear-text;
$message-menu-link-color: $bear-text;

$message-votes-color: $bear-text;

$reply-box-bg: rgba(222,184,135,0.15);
$reply-box-hover-bg: rgba(222,184,135,0.6);
$reply-box-color: rgba(255,255,255,0.5);

$message-normal-border-top: thin solid lighten( $mes-brown, 4% );
$message-normal-border-bottom: thin solid darken( $mes-brown, 4% );
$message-me-normal-border-top: thin solid lighten( $mes-me-brown, 3% );
$message-me-normal-border-bottom: thin solid darken( $mes-me-brown, 3% );
$message-border-top-after-bisrupt: thin solid lighten( $mes-brown, 12% );
$message-border-bottom-before-bisrupt: thin solid darken( $mes-brown, 12% );


$goingto-bg: transparentize( brown, 0.2 );

// side tabs
$chat-tabs-border-color: rgba(0,0,0,0.2);
$chat-tabs-border-width: 1px;
$chat-tabs-unselected-bg-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.08));
$chat-tabs-selected-bg-image: none; 


// message sizing
$message-min-height: 40px;
$message-content-padding: 8px;
$message-content-line-height: 1.3;

// profile in chat
$profile-bg: #1B0E05;
$profile-box-shadow: none;
$profile-text-color: #8ADADA;

// buttons
$button-bg-color: #555;
$button-text-color: $bear-green;
$button-box-shadow: none;
$button-hover-bg-color: #555;
$button-hover-text-color: darcken( $bear-green , 10%);
$small-button-box-shadow: none;
$button-border: 1px solid #444;
$button-hover-border-color: #888;

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 2px 2px 6px rgba(0,0,0,0.3);
	background: $bg-color;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 2px 2px 6px rgba(255,255,255,0.2);
	border-radius: 2px;
	background: $mes-brown;
}
::-webkit-scrollbar-thumb:hover {
	background: $mes-me-brown;
}


// wzins
$wzin-conv-bg : ( rgba(176,224,230,0.32), rgba(255,255,102,0.3), rgba(188,143,143,0.3), rgba(255,235,215,0.3) );
$wzin-edit-bg: $mes-me-brown;
$wzin-reply-bg: rgba(176,224,230,0.13);

// pad
$menu-item-hover-bg: transparentize( $mes-me-brown , 0.4 );;
$roomname-text-shadow: 0 0 2px black;
$watch-bg: #153131;
$watch-panel-bg: #335353;
$watch-count-new-bg: #544D04;
$watch-count-ping-bg: rgba(255,0,0,.6);
$pad-room-desc-bg: rgba(0,0,0,.1);
$pad-room-hover-bg: #0b2727;
$pad-room-last-message-bg: $pad-room-hover-bg;
$pad-room-last-message-border-top: solid thin #131;

// miaou logo
$miaou-logo-color: $general-text-color;
