
// variables owned by the theme
$bear-green: #C8D584;
$bear-text: #FFFACD;

// chat colors
$bg-color: #2F4F4F;
$general-text-color: $bear-text;
$title-text-color: $bear-green !default;
$message-me-bg: rgba(163, 83, 49, 0.08);
$message-list-bg: #222;
$user-text-color-in-user-list: $bear-green;
$connected-user-text-color-in-user-list: $bear-green;
$user-text-color-in-message: $bear-green;
$code-text-color: #999;
$chat-tabs-border-color: rgba(0,0,0,0.3);
$chat-tabs-border-width: 2px;
$input-bg: lighten($bg-color, 6%);
$input-text-color: white;
$normal-border-separation: thin dotted #2A3D25 !default;
$disrupt-border-separation: thin solid #4D6B51 !default;

// message sizing
$message-min-height: 60px;
$message-content-padding: 8px;
$message-content-line-height: 1.3;

// profile in chat
$profile-bg-color: #1B0E05;
$profile-box-shadow: none;
$profile-text-color: #8ADADA;

// buttons
$button-bg-color: #555;
$button-text-color: $bear-green;
$button-box-shadow: none;
$button-hover-text-color: darcken($bear-green, 20%);
$small-button-box-shadow: none;



