

// chat colors
$bg-color: black;
$general-text-color: gold;
$message-list-bg: #222;
$profile-bg-color: #fffcc5 !default;
$notifications-bg-color: #fffa9e !default;

// chat layout
$input-height: 80px !default; // height of input
$left-panel-width: 150px !default;
$right-panel-width: 330px !default;
$hist-width: 200px !default;

