
// variables owned by the theme
$bear-green: #9CD87A;

// chat colors
$bg-color: black;
$general-text-color: gold;
$title-text-color: $bear-green !default;
$message-list-bg: #222;
$user-text-color-in-user-list: $bear-green;
$connected-user-text-color-in-user-list: $bear-green;

// profile in chat
$profile-bg-color: black;
$profile-box-shadow: none;

// buttons
$button-bg-color: #555;
$button-text-color: $bear-green;
$button-box-shadow: none;
$button-hover-text-color: darcken($bear-green, 20%);
$small-button-box-shadow: none;



