# running libraries
node_modules

# running configuration
config.json

# dystroy's scripts, config & utilities
deploy.sh
autopgbackup.sh
config-dys-tour.json
config-dystroy.json

# personal notes & work files
notes.dev
sql/postgres.alter.sql
trav
graphics/*.png
plugins/miaou.bot
plugins/mountyhall

# compilation byproducts
.sass-cache
static/.sass-cache

# compiled files
main.css
miaou.concat.js
miaou.min.js
miaou.min.js.map
static/intro.css
static/intro2.css

# execution byproducts
*.log
dump.rdb

# vagrant
.vagrant/
vagrant/manifests/modules/*
