# running libraries
node_modules

# running configuration
config.json

# dystroy's scripts, config & utilities
deploy.sh
config-dys-tour.json
config-dystroy.json

# personal notes
notes.dev
sql/postgres.alter.sql

# compilation byproducts
static/.sass-cache/

# execution byproducts
*.log
dump.rdb
