
$square-room-hover-bg: rgba(255, 255, 255, .4);
$square-room-last-created-color: #222;
$square-room-last-created-text-shadow: 0 0 2px white;

// room controls
$room-control-bg: white;
$room-control-color: rgba(0,0,0,.7);
$room-hover-control-bg: white;
$room-hover-control-color: rgba(0,0,0,.9);
