doctype html
html(lang=vars.room.lang)
	head
		title=JSON.stringify(locals)
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet',href='static/themes/'+locals.theme+'/miaou.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="static/socket.io.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/chat.min.js")
	body.chat
		div#left
			section#prefs
				a#me.pref(href="prefs?",title="Profile Settings")
			section
				button.small#auths authorizations
				h2 Users
				div#users
		div#center
			div#vert-center
				div#message-scroller
					div#messages
				div#notifications
				div#input-panel
					textarea#input(lang=vars.room.lang)
					button.small#send Send
					button.small#showPreview Preview
					button.small#cancelEdit(style="display:none") Cancel
					button.small#uploadOpen Upload
					button.small#help Help			
				div#upload-panel
					div#upload-controls
						| Select an image to send to imgur
						br
						br
						input(type="file",id="file")
						button#uploadSend Send
						button#cancelUpload Cancel
					div#upload-wait(style="display:none")
						img(src="static/ajax-loader-brown.gif")
				div#preview-panel
					div#preview.rendered
					button.small#shortcuts Shortcuts
					button.small#hidePreview Hide
			div#hist
		div#right
			section#room-info
				button.small#changeroom home
				button.small#editroom edit
				h2#roomname
				div#roomdescription.rendered
			div.tabs
				span.tab.selected(page="notablemessagespage") Notable Messages
				span.tab(page="search") Search
			div.page.selected#notablemessagespage
				div#notable-messages
			div.page#search
				input#searchInput(autocomplete="off")
				div#search-results
					i
						p Type anything to search it (common English words are ignored)
						p Hit <code>esc</code> to clear
		
