doctype 5
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet',href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/moment.min.js")
		script(src="static/miaou.min.js")
	body.chat
		div#left
			section#prefs
				a#me.pref(href="profile", title="Edit profile")
			section
				button.small#auths authorizations
				h2 Users
				div#users
		div#center
			div#messagescroller
				div#messages
			div#inputpanel
				textarea#input
				button.small#send Send
				button.small#showPreview Preview
				button.small#cancelEdit(style="display:none") Cancel
				button.small#help Help
			div#previewpanel
				div#preview.rendered
				button.small#shortcuts Shortcuts
				button.small#hidePreview Hide
			div#hist
				hop
		div#right
			section#roominfo
				button.small#changeroom Home
				button.small#editroom edit
				h2#roomname
				div#roomdescription.rendered
			div.tabs
				span.tab.selected(page="notablemessagespage") Notable Messages
				span.tab(page="search") Search
			div.page.selected#notablemessagespage
				div#notablemessages
			div.page#search
				input#searchInput
				div#searchresults
					i
						p Type anything to search it (common English words are ignored)
						p Hit <code>esc</code> to clear

		script.
			var me = !{user},
				room = !{room};
			if (!room) {
				location = 'rooms';
			}
			if (room.private) {
				$('#roomname').addClass('private').attr('title', 'This room is private');
			}
			$('#help').click(function(){ window.open('help') });		
			$('#changeroom').click(function(){ window.open('rooms') });
			$('#shortcuts').click(function(){ window.open('help#All_Shortcuts') });
			$('#me').text(me.name);
			$('.tab').click(function(){
				$('.tab').removeClass('selected');
				$(this).addClass('selected');
				$('.page').removeClass('selected').filter('#'+$(this).attr('page')).addClass('selected');
			});
			$('.tab[page="search"]').click(function(){
				miaou.hist.open();
				$('#searchInput').focus();
			});
			$('.tab[page="notablemessagespage"]').click(miaou.hist.close);
			miaou.chat();

