doctype html
html
	head
		title Miaou
		meta(name="viewport",content="initial-scale=1,maximum-scale=1")
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		script(src="static/jquery-2.1.3.min.js")
		script(src="static/socket.io.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/chat.mob.min.js")
	body.chat.mobile
		div.mtabs
			div.mtab.closed#me(page="left") pre-loading...
			div.mtab.closed#roomname(page="right") loading...
		div.mpages
			div.mpage
				section#prefs
					button.small#editProfile Edit Profile
				section
					button.small#auths authorizations
					h2 Users
					div#users
			div.mpage
				section#roomButtons
					button.small#editroom Edit Room
					button.small#changeroom Change Room
				section#room-info
					div#roomdescription.rendered
				div.tabs
					span.tab.selected(page="notablemessagespage") Notable
					span.tab(page="search") Search
				div.page.selected#notablemessagespage
					div#notable-messages
				div.page#search
					input#searchInput
					div#search-results
						i
							p Type anything to search it (common English words are ignored)
		div#message-scroller
			div#messages
		div#notifications
		div#input-panel
			textarea#input
			button.small#send Send
			

