doctype html
html
	head
		title Miaou - Error 
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(id='theme-link', rel='stylesheet', href=base+'static/themes/'+theme+'/miaou.css')
	body
		div#centerer
			div.dialog.centered
				div.dialog-title An error occured
				div.dialog-content
					p#err.error= error
				div.dialog-buttons
					a.button(href=base+"rooms") Home			
