doctype 5
html
	head
		title Miaou - Tout cassé !
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
	body
		div#centerer
			div.dialog.centerer
				div.dialog_title An error occured
				div.dialog_content
					p#err.error= error
				div.dialog_buttons
					button(onclick="location='/'") Home			
