doctype 5
html
	head
		title Miaou
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/moment.min.js")
		script(src="static/vis.js")
		script(src="static/miaou.dialog.js")
		script(src="static/miaou.notify.js")
		script(src="static/miaou.editor.js")
		script(src="static/miaou.main.js")
	body
		div.table
			div#left
				section#prefs
				section
					h1 Users
					div#users
			div#center
				div.table
					div#messagescell
						div#messages
					div#inputpanel
						textarea#input
						button#send Send
						button#help Help
			div#right
				div#rightcontainer
					section#roominfo
						h1#roomname
						p#roomdescription
					section#news
						h1 TODO
						pre.
							☒ user list
							☒ tab title updates
							☒ ping & notifications
							☒ image oneboxing
							☒ ▼▲ on long messages
							☒ project repository on github
							☒ clickable links
							☒ code formatting, inline and bloc
							☒ > for citations
							☒ ^K, ^I, ^B, ^Q, ^L
							☒ markdown style links
							☒ show message date
							☒ persistent history
							☒ remove disconnected users from list
							☐ message edit, ↑↓
							☒ help				
							☐ change room, room URL
							☐ persistent authentication
							☒ room info
							☐ project how-to
							☐ links to messages
							☐ reply to message
							☐ stars
							☐ user icons
							☐ white board
							☐ room admins
							☐ private rooms
							☐ invitations
							☐ consistency with SO
							☐ consistency with MH
							☐ @ syntax autocomplete
							☐ bot API
							☐ .ico
							☐ Firefox compatibility
							☐ user ban		
							☒ rate limit, message size cap		
							☐ server-wide pings		
							☐ icons in user list for "typing" ones
