doctype 5
html
	head
		title Miaou
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/moment.min.js")
		script(src="static/vis.js")
		script(src="static/miaou.dialog.js")
		script(src="static/miaou.notify.js")
		script(src="static/miaou.editor.js")
		script(src="static/miaou.format.js")
		script(src="static/miaou.main.js")
	body
		div.table
			div#left
				section#prefs
					a#me.pref(href="profile", title="Edit profile")
				section
					button#auths manage
					h2 Users
					div#users
			div#center
				div.table
					div#messagescell
						div#messages
					div#inputpanel
						textarea#input
						button#send Send
						button#help Help
						button#cancelEdit(style="display:none") Cancel
			div#right
				div#rightcontainer
					section#roominfo
						button#changeroom rooms
						button#editroom edit
						h2#roomname
						p#roomdescription.rendered
					section#news
						h2 TODO
						pre.
							☐ server-wide pings		
							☒ room creation
							☒ private rooms
							☒ room admins
							☐ preview
							☐ links to messages
							☐ reply to message
							☐ load older messages
							☐ stars
							☐ user icons
							☐ white board
							☐ invitations
							☐ ↑ to edit
							☐ consistency with SO
							☐ consistency with MH
							☐ bot API
							☐ .ico
							☐ Firefox compatibility
							☐ user ban
							☒ rate limit, message size cap		
							☐ icons in user list for "typing" ones
							☐ mail notifications when not connected 
							☐ minify css & js
			
		script.
			var me = !{user},
				room = !{room};
			if (!room) {
				location = 'rooms';
			}
			if (room.private) {
				$('#roomname').addClass('private').attr('title', 'This room is private');
			}
