doctype 5
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/miaou-32.png")
		link(rel='stylesheet',href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/moment.min.js")
		script(src="static/vis.js")
		script(src="static/miaou.dialog.js")
		script(src="static/miaou.notify.js")
		script(src="static/miaou.editor.js")
		script(src="static/miaou.format.js")
		script(src="static/miaou.main.js")
	body
		div.table
			div#left
				section#prefs
					a#me.pref(href="profile", title="Edit profile")
				section
					button#auths authorizations
					h2 Users
					div#users
			div#center
				div.table
					div#messagescell
						div#messageswrapper	
							div#messages
					div#inputpanel
						textarea#input
						button#send Send
						button#help Help
						button#cancelEdit(style="display:none") Cancel
						button#showPreview Preview
					div#previewpanel
						div#preview.rendered
						button#hidePreview Hide
						button#shortcuts Shortcuts
			div#right
				div#rightcontainer
					section#roominfo
						button#changeroom rooms
						button#editroom edit
						h2#roomname
						div#roomdescription.rendered
					section
						h2 Notable Messages
						div#notablemessages
			
		script.
			var me = !{user},
				room = !{room};
			if (!room) {
				location = 'rooms';
			}
			if (room.private) {
				$('#roomname').addClass('private').attr('title', 'This room is private');
			}
			$('#help').click(function(){ window.open('help#Writing_Messages') });		
			$('#changeroom').click(function(){ window.open('rooms') });
			$('#shortcuts').click(function(){ window.open('help#All_Shortcuts') });
			$('#me').text(me.name);
