doctype 5
html
	head
		title Miaou
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/vis.js")
		script(src="static/miaou.dialog.js")
		script(src="static/miaou.notify.js")
		script(src="static/miaou.editor.js")
		script(src="static/miaou.main.js")
	body
		div.table
			div#left
				section#prefs
				section
					h1 I need help on
					pre.
						☐ websocket proxying
						☐ choose: mysql or pg
						☐ webrtc
						☐ keeping it alive
				section
					h1 Users
					div#users here be dragons
			div#center
				div.table
					div#messagescell
						div#messages
					div#inputpanel
						textarea#input
						button#send Send
			div#right
				div#rightcontainer
					section#roominfo
						h1#roomname
						p room info here
					section#news
						h1 TODO
						pre.
							☒ basic engine & UI
							☒ recent room history on enter
							☒ login
							☒ user list
							☒ tab title updates
							☒ ping & notifications
							☒ image oneboxing
							☒ ▼▲ on long messages
							☒ project repository on github
							☒ clickable links
							☒ code formatting, inline and bloc
							☒ > for citations
							☒ ^K, ^I, ^B, ^Q, ^L
							☒ markdown style links
							☐ message info on hover (date)
							☐ persistent history
							☐ remove disconnected users from list
							☐ message edit, ↑↓
							☐ help				
							☐ change room, room URL
							☐ prettier buttons & UI
							☐ @ syntax autocomplete
							☐ room info
							☐ project how-to
							☐ links to messages
							☐ reply to message
							☐ stars
							☐ local image hiding
							☐ persistent authentication
							☐ user icons
							☐ room admins
							☐ private rooms
							☐ invitations
							☐ consistency with SO
							☐ consistency with MH
							☐ bot API
							☐ .ico
							☐ Firefox compatibility
							☒ NSA backdoor
							☐ user ban		
							☐ rate limit		
							☐ server-wide pings				
