doctype html
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/intro.css')
		script(src="static/jquery-2.0.3.min.js")
	body
		img#minimiaou(src="static/M-32.png")
		a(href="https://github.com/Canop/miaou",target="github")
			img#github(src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",alt="Fork me on GitHub")
		div#intro-supertop
			div.MP
				img(src="static/Miaou-300-f.png")
			div.enter.button Enter
		div#intro-top
			div.enter.button Enter Miaou
		section#first-page
			div.container
				h2 An open-source chat with the features you expect and a few other ones
				div.content
					div.pic
						img(src="static/gallery/reply.png")
					div.txt
		section
			div.container
				h2 Rich Formatting
				div.content
					div.pic
						img(src="static/gallery/rich-text-edit.png")
					div.txt
						p Intuitive Markdown formatting lets you give meaningful relief to your messages with bold, italic, small titles, lists, etc.
						p Citations and code are also well displayed.
						p Standard keyboard shortcuts are available so you don't <i>have</i> to type stars or even remember the markdown syntax.
						p Links to images are replaced with clickable thumbnails.
						p The Upload button lets you insert images directly from your disk : they're stored at imgur.
						p You may notice on the screenshot that
							ul
								li messages are editable
								li edition mode is obvious, as is what message you're editing 
								li long messages are shortened and a ▼ icon lets you see them wholly
								li some of my friends still try to break miaou with html injection ;)
		section
			div.container
				h2 Extended Authentication
				div.content
					div.txt
						p Miaou uses <b>OAuth2</b> to let you connect with your account at GMail, StackExchange, GitHub or reddit (and it's easy to add providers). So you won't have to remember another password.
						p Miaou usernames are persistent and unique per server to prevent impersonnation.
					div.pic
						img(src="static/gallery/login.png")
				div.content
					div.pic
						img(src="static/gallery/profile_florian.png")
					div.txt
						p It's possible through plugins to link a Miaou username to external identities to ensure your private room only allows people of your community (think about gaming teams, or companies).
		section
			div.container
				h2 Mobile
				div.content
					div.txt
						p Miaou works on most mobile browsers too.
					div.pic
						img(src="static/gallery/mobile.png")
					div.pic
						img(src="static/gallery/mobile-tribo.png")
		section
			div.container
				h2 Video & Audio
				div.content
					div.txt
						p No plugin is necessary : you can start a video or audio chat with any connected user, immediately, even from a mobile.
					div.pic
						img(src="static/gallery/video-in-dialog-room-gael.png")
		section
			div.container
				h2 Public, Private & Dialog Rooms
				div.content
					div.pic
						img(src="static/gallery/rooms.png")
					div.txt
						p Anybody can create a public or private room.
				div.content
					div.txt
						p The creator of a room is its first owner, ans as owner he can give owner or administrator roles to other users.
						p By hovering the name of a user you reveal a <i>dialog</i> button. Click it to enter a private persistent room that both of you will own.
						p When somebody wants to enter a room, users in the room are notified and may see any external profile information before the decide to grant access.
						p Each room has its own Authorization Management page.
					div.pic
						img(src="static/gallery/auths.png")
		section
			div.container
				h2 Persistent Searchable History
				div.content
					div.pic
						img(src="static/gallery/search-promise.png")
					div.txt
						p Click the <i>Search</i> tab : an history of the room appears.
						p Type a word and a smart full text search is performed.
						p You can jump to search hits by clicking the messages or the histogram.
						p As no message is ever trashed because of its age, you can bookmark or distribute "permalinks".
						p Old messages are loaded in place, you're not redirected to a static extract of the chat.
		section
			div.container
				h2 Pings & notifications
				div.content
					div.txt
						p You <i>ping</i> a user by typing his username after a <kbd>@</kbd>. He'll get a desktop notification (if he allowed them) even if he's in another room (remember : identifiants are server-wide and permanent).
						p If a pinged user isn't currently logged, he'll see the notification when login next time.
						p Replying to a message automatically pings its author.
						p Usernames in pings are autocompleted, so you don't usually type them : just one or two letters and then <kbd>tab</kbd>.
					div.pic
						img(src="static/gallery/cross-room-ping.png")
		section
			div.container
				h2 Notable Messages
				div.content
					div.txt
						p When a message is important and should be seen, you can star it, or if you're a room administrator you can pin it. Those actions send it to the <i>Notable Messages</i> section on the right of the screen.
						p If you just want to approve or disagree but don't want to keep a message, you may also upvote or downvote.
					div.pic
						img(src="static/gallery/star-chasse.png")
		section
			div.container
				h2 Games
				div.content
					div.pic
						img(src="static/gallery/miaou-games.png")
					div.txt
						p Miaou is an extensible realtime communication engine so it was easy to add a plugin managing games.
						p Just type <code>!!tribo @anotherUser</code> to start a game of Tribo.
		section
			div.container
				h2 Miaou is Extensible
				div.content
					div.pic
						img(src="static/gallery/wiki.png")
					div.txt
						p You don't see the feature you want ? It's probably here. Almost. Let's just add it.
						p A plugin architecture makes it possible to add non-core features, like the <code>!!wiki</code> command illustrated on this screenshot.
						p Miaou is bot friendly : plugins can read and write messages under their own name.
						p If you want to keep a feature in your browser, there's a client-side API and you'll find an example of userscript in the GitHub repositiory.
		
		script.
			var $win = $(window);
			$('#minimiaou').click(function(){
				document.location = document.location.href.split('#')[0];
			});
			function size(){
				$('section').height($win.height());
				$('.pic img').each(function(){ 
					var i = this, w = i.width, nw = i.naturalWidth, h = i.height, nh = i.naturalHeight;
					if (w/nw > h/nh) i.width = nw*h/nh;
					else if (w/nw < h/nh) i.height = nh*w/nw;
				});
			}
			function start(){
				$win.scrollTop(0);
			}
			function up(){
				var H = $win.height();
				$win.scrollTop(Math.round($win.scrollTop()/H-1)*H);
			}
			function down(){
				var H = $win.height();
				$win.scrollTop(Math.round($win.scrollTop()/H+1)*H);
			}
			function end(){
				$win.scrollTop($(document).height());
			}
			size();
			$(window).load(size);
			
			$win.resize(size).keydown(function(e){
				switch (e.which) {
				case 33: // page up
					return up(), false;
				case 34: // page down
					return down(), false;
				}
			});
			
			var $sections = $('section'),
				$firstText = $sections.first().find('.txt');
			$sections.each(function(i){
				var $section = $(this),
					title = $('h2', this).text(),
					$nav = $('<div>').addClass('nav').appendTo(this);
				if (i>1) $nav.append($('<div>').text("↟").click(start));
				if (i) $nav.append($('<div>').text("↑").click(up));
				if (i<$sections.length-1) $nav.append($('<div>').text("↓").click(down));
				if (i<$sections.length-2) $nav.append($('<div>').text("↡").click(end));
				if (i) {
					$('<a>').text(title).attr('data-hover', title).click(function(){
						$win.scrollTop($sections.eq(i).offset().top);
					}).appendTo($firstText);
				}
			});
		
			$('.enter').click(function(){
				document.location = 'http://dystroy.org/miaou/';
			});
