doctype 5
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/miaou-32.png")
		link(rel='stylesheet', href='static/main.css')
	body
		div.dialog
			div.dialog_title Authentication
			div.dialog_content
				p Miaou requires users to be logged to prevent impersonation.
				p In order to avoid managing one more password, we use Google authentication.
			div.dialog_buttons#buttons
				button#ok Sign On with Google
		
		script.
			var m = location.toString().match(/room=(\d+)/);
			if (m) {
				localStorage['login.room'] = m[1];
			} else {
				delete localStorage['login.room'];
			}
			var authurl = "#{authurl}";
			if (localStorage['successfulLoginLastTime']) {
				delete localStorage['successfulLoginLastTime'];
				document.getElementById('buttons').innerHTML = '<i>Authentication in progress...</i>';
				location=authurl;
			}
			var ok = document.getElementById('ok');
			ok.onclick = function(){
				location=authurl;
			}
			ok.focus();
