doctype 5
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
	body
		div.dialog
			div.dialog_title Authentication
			div.dialog_content
				p Miaou requires users to be logged to prevent impersonation.
				p To improve security and not manage your password, we use the OAuth2 scheme and let you use the authentication provider of your choice.
			div.dialog_buttons#buttons
		
		script.
			var m = location.toString().match(/room=(\d+)/), strategies = !{JSON.stringify(oauth2Strategies)};
			if (m) {
				localStorage['login.room'] = m[1];
			} else {
				delete localStorage['login.room'];
			}
			if (localStorage['successfulLoginLastTime'] && localStorage['lastUsedStrategy'] && strategies[localStorage['lastUsedStrategy']]) {
				delete localStorage['successfulLoginLastTime'];
				$('#buttons').html('<i>Authentication in progress...</i>');
				setTimeout(function(){ location = strategies[localStorage['lastUsedStrategy']].url }, 100);
			} else {
				var names = {
					google: "<span class=icon>&#xe818;</span> Google",
					stackexchange: "<span class=icon>&#xe816</span> StackExchange",
					github: "<span class=icon>&#xe817;</span> GitHub"
				};
				for (var key in strategies) {
					(function(key, strategy){
						var html = 'Sign On with '+ (names[key]||key);
						$('<button>').html(html).click(function(){
							localStorage['lastUsedStrategy'] = key;
							location = strategies[key].url;
						}).appendTo('#buttons');
					})(key, strategies[key]);
				}
			}
