doctype html
html
	head
		title Miaou - Pad
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		link(rel='stylesheet', href='static/pad.css')
		script(src="static/jquery-2.1.3.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/pad.min.js")
	body.pad
		#non-top
			#left left
			#center center
			#right right
		#stripe
			#M-opener
				img#M-img(src="static/M-150.png")
			#room-and-rooms.closed
				#room-panel
					#room-title Nom de la Salle
					#room-buttons
						button.small watch
						button.small edit
						button.small authorizations
				#rooms-panel
					#rooms
						p ici il y a
						p toutes les salles
						p c'est un gros tableau
						p bla bla
			#watches.normal
				.watch watch 1
				.watch watch 2
				.watch watch 3
				.watch watch 4
				.watch watch 5
				.watch watch 6
	
