doctype html
html
	head
		title Miaou
		meta(name="viewport",content="initial-scale=1,maximum-scale=1")
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(id='theme-link', rel='stylesheet', href='static/themes/'+theme+'/miaou.css?v=23')
		link(rel='stylesheet', href='static/pad.mob.css?v=11')
		script(src="static/jquery-3.3.1.min.js")
		script(src="socket.io/socket.io.js")
		script#locals(type="Application/JSON") !{inlineJSON(vars)}
		script(src="static/miaou.min.js?v=21")
		script(src="static/pad.mob.min.js?v=9")
	body#mpad.chat.mobile
		#mvert
			#mpad-top-tabs.mpad-tabs
				#mpad-tab-room.mpad-tab
					#roomname.mpad-tab-label ...
				#mpad-tab-notables.mpad-tab
					.mpad-tab-label.mpad-icon &#9733;
				#mpad-tab-search.mpad-tab
					.mpad-tab-label.fontello.mpad-icon.icon-search
				#mpad-tab-watches.mpad-tab
			#message-scroller
				#messages
			#notifications
			#chat-connecting connecting...
			#mpad-page-write.mpad-page
				#input-panel.mpad-row
					textarea#input
				#upload-panel.mpad-row
					#upload-controls
						input(type="file",id="file")
						br
						button#uploadSend Send Image
						button#cancelUpload Cancel Upload
					#upload-wait(style="display:none")
						p Uploading image...
						img(src="static/ajax-loader-bar.gif")
				.mpad-row
					.mpad-button#cancel-write Cancel
					.mpad-button#uploadOpen Upload
					.mpad-button#send Send
			#mpad-bottom-tabs.mpad-tabs
				#mpad-tab-users.mpad-tab
					.mpad-tab-label users
				#mpad-tab-menu.mpad-tab
					#Miaou-logo-wrapper.mpad-tab-label
						object.Miaou-logo#Miaou-logo(type="image/svg+xml",data="static/Miaou.svg")
				#mpad-tab-write.mpad-tab
					.mpad-tab-label write a message
		#mpad-untabber
		#mpad-page-room.mpad-page
			#room-description.rendered
			.mpad-row
				.mpad-button#watch-button Watch
				.mpad-button#changeroom Change Room
		#mpad-page-search.mpad-page
			.mpad-row
				input#search-input
				.mpad-button#search-button Search
			#search-results-navigator
				#search-results-count
				#search-results-previous-page ◀
				span page
				#search-results-page
				#search-results-next-page ▶ 
			#search-results
		#mpad-page-notables.mpad-page
			#notable-messages
		#mpad-page-watches.mpad-page
			#watches
		#mpad-page-users.mpad-page
			#users
		#mpad-page-menu.mpad-page
			p You're connected as <span id=me></span>
			a.menu-item#menu-logout Log Out
			a.menu-item#menu-settings Settings
			a.menu-item#menu-help(href="help") Help
			a.menu-item#menu-home(href="rooms") Home
			

