doctype html
html
	head
		title Miaou - Pad
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		link(rel='stylesheet', href='static/pad.css')
		script(src="socket.io/socket.io.js")
		script(src="static/jquery-2.1.3.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/pad.min.js")
	body.pad
		#non-top
			#left
				#users
			#center
				#vert-center
					#message-scroller
						div#messages
					#notifications
					#input-panel
						textarea#input(lang=vars.room.lang)
						button.small#send Send
						button.small#showPreview Preview
						button.small#cancelEdit(style="display:none") Cancel
						button.small#uploadOpen Upload
					#upload-panel
						#upload-controls
							| Select an image to send to imgur
							br
							br
							input(type="file",id="file")
							button#uploadSend Send
							button#cancelUpload Cancel
						#upload-wait(style="display:none")
							img(src="static/ajax-loader-brown.gif")
					#preview-panel
						#preview.rendered
						button.small#shortcuts Shortcuts
						button.small#hidePreview Hide
				#hist
			#right
				div#roomdescription.rendered
				div.tabs
					span.tab.selected(page="notablemessagespage") Notable Messages
					span.tab(page="search") Search
				div.page.selected#notablemessagespage
					div#notable-messages
				div.page#search
					input#searchInput(autocomplete="off")
					div#search-results
						i
							p Type anything to search it (common English words are ignored)
							p Hit <code>esc</code> to clear
		#stripe
			#stripe-top
				#M-opener
					img#M-img(src="static/M-150.png")
				#room-panel-wrapper
					#room-panel-bg
					#room-panel
						#room-title
							a#roomname(href=vars.room.path)
						#room-buttons
							button.small#editroom edit
							button.small#auths authorizations
				#watches
			#rooms-panel.closed
				#rooms
					#rooms-spinner
						img(src="static/ajax-loader-brown.gif")
					#rooms-content
						#rooms-tabs
							span.tab Your Main Rooms
							span.tab Public Rooms
							span.tab Private Rooms
							span.tab Dialog Rooms
							span.tab.aftertabs
						#rooms-page
	
