doctype html
html
	head
		title Miaou
		meta(name="viewport",content="initial-scale=1,maximum-scale=1")
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		link(rel='stylesheet', href='static/pad.mob.css')
		script(src="static/jquery-2.1.3.min.js")
		script(src="static/socket.io.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/pad.mob.min.js")
	body#mpad.chat.mobile
		#message-scroller
			div#messages
		div#notifications
		#mpad-top-tabs.mpad-tabs
			#mpad-tab-room.mpad-tab
				#roomname.mpad-tab-label ...
			#mpad-tab-notables.mpad-tab
				.mpad-tab-label &#9733;
			#mpad-tab-search.mpad-tab
				.mpad-tab-label &#12869;
			#mpad-tab-watches.mpad-tab
				.mpad-tab-label w
		#mpad-bottom-tabs.mpad-tabs
			#mpad-tab-users.mpad-tab
				.mpad-tab-label users
			#mpad-tab-menu.mpad-tab
				.mpad-tab-label M
			#mpad-tab-write.mpad-tab
				.mpad-tab-label write a message
		#mpad-page-room.mpad-page
			#roomButtons
				button.small#auths authorizations
				button.small#editroom Edit Room
				button.small#changeroom Change Room
			#room-info
				#room-description.rendered
		#mpad-page-search.mpad-page
			input#searchInput
			#search-results
		#mpad-page-notables.mpad-page
			#notable-messages
		#mpad-page-watches.mpad-page
			list of watched rooms
		#mpad-page-users.mpad-page
			bla bla		
		#mpad-page-menu.mpad-page
			bla bla		
		#mpad-page-write.mpad-page
			.mpad-row
				textarea#input
			.mpad-row
				button.mpad-button#send Send
				button.mpad-button#cancel-write Cancel
			

