doctype 5
html
	head
		title Miaou - Profile
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
	body
		form(method="post")
			div.dialog
				div.dialog_title Profile Edition
				div.dialog_content
					p Pick a name by which you will be recognized.
					p Choose wisely (not &quot;wisely&quot;).
					div.form
						label.label Name
						input#name(type="text", name="name", value=suggestedName, pattern="\\w[\\w_\\-\\d]{2,19}")
					p#err.error
				div.dialog_buttons
					input#cancel(type='button', value='Cancel')
					input#submit(type='submit', value='Save')
					input#logout(type='button', value='Log Out')
		
		script.
			//$('form')[0].action = location;
			$('#name').focus().keyup(function(){
				if (!this.validity.valid){ // not compatible with IE, that's fine 
					$('#err').text('Please type a name with 3 to 20 standard characters, digits, "_" or "-"');
					$('#submit').prop('disabled', true);
				} else if (/wisely/i.test(this.value)) {
					$('#err').text('More wisely, less "wisely", please.');
					$('#submit').prop('disabled', true);
				} else {
					$('#err').text('');
					$('#submit').prop('disabled', false);
				}
			});
			$('#cancel').click(function(){ history.back() });
			$('#logout').click(function(){
				delete localStorage['successfulLoginLastTime'];
				location = 'logout';
			});
			
