doctype html
html
	head
		title Miaou - Request Room Access
		meta(name="viewport",content="initial-scale=1, maximum-scale=1")
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="static/socket.io.min.js")
		script(src="static/miaou.min.js")
	body.logo
		div.dialog.intro
			div.dialog_title= room.name
			div.dialog_content
				p This room is private.
				p In order to enter, you must be authorized by a room admin. The best is to request an access using the button below.
				if lastAccessRequest && lastAccessRequest.deny_message
					p Last time you requested access to this room, you were answered this :
					p.rendered= lastAccessRequest.deny_message
				P If you want, you may type a few words for the admin :
				p
					input(type="text").unlabeled#request_speech
				p#response
				p.rendered#denyMessage
			div.dialog_buttons#buttons
				button#cancel Go Home 
				button#request Request Access

		script.
			if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|Mini/i.test(navigator.userAgent)) $(document.body).addClass('mobile');

			var room = !{JSON.stringify(room)};
			$('.rendered').html(function(_,h){ return miaou.mdToHtml(h) });
			$('#cancel').click(function(){ location="rooms" });
			$('#request').click(function(){
				$(this).hide();
				var socket = io.connect(location.origin);
				socket.on('connect', function(){
					socket.emit('request', {room:room.id, message:$('#request_speech').val() });
					$('#request_speech').replaceWith($('<div>').addClass('rendered').html(miaou.mdToHtml($('#request_speech').val())));
					$('#cancel').hide();
					$('#response').text("Your request is visible to the admins of the room. Don't close this window : You'll automaticaly enter the room as soon as one of them accepts it.");
				}).on('request_denied', function(data){
					$('#response').text('refused');				
				}).on('request_accepted', function(data){
					$('#response').text('accepted');
				}).on('request_outcome', function(outcome){
					if (outcome.granted) {
						location = room.id;
					} else {
						var t = "You have been denied access to the room";
						if (outcome.message) {
							t += ' with this message:';
							$('#denyMessage').html(miaou.mdToHtml(outcome.message));
						}
						$('#response').css('color','red').text(t);
					}
				});
			});
