doctype html
html
	head
		title Miaou - Request Room Access
		meta(name="viewport",content="initial-scale=1, maximum-scale=1")
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		script(src="static/jquery-2.1.3.min.js")
		script(src="socket.io/socket.io.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/request.min.js")
	body.logo
		div.dialog.intro
			div.dialog-title= vars.room.name
			div.dialog-content
				if vars.room.private
					p This room is private. In order to enter, you must be authorized by a room admin and you must not have been banned.
				else
					p You have been banned from this room.
				p The best is to request an access using the button below.
				if lastAccessRequest && lastAccessRequest.deny_message
					p Last time you requested access to this room, you were answered this :
					p.rendered= lastAccessRequest.deny_message
				P If you want, you may type a few words for the admin :
				p
					input(type="text").unlabeled#request_speech
				p#response
				p.rendered#denyMessage
			div.dialog-buttons#buttons
				button#cancel Go Home 
				button#request Request Access


