doctype 5
html
	head
		title Miaou - Rooms
		link(rel='stylesheet', href='static/main.css')
		script(src="static/miaou.format.js")
	body
		div#list
			h1 Miaou Public Rooms
			table.list
				each room, i in rooms
					tr
						th: a(href=room.id) #{room.name}
						td #{room.description}
			
		script.
			delete localStorage['room'];
			[].forEach.call(document.querySelectorAll('#list td'), function(td){
				// ? take only first line here ?
				td.innerHTML = miaou.mdToHtml(td.innerHTML)
			});
