doctype html
html
	head
		title Miaou - Room Edition
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/room.css')
		script(src="static/jquery-3.3.1.min.js")
		script#locals(type="Application/JSON") !{inlineJSON(vars)}
		script(src="static/miaou.min.js")
		script(src="static/room.min.js")
		style.
			#room-description {
				padding: 2px;
				background: #F0EAD6;
			}
	body.home
		section#home-top
			div.thinMP
				a(href='.')
					img(src="static/Miaou-300-f.png")
		section#home-notifs
			div.thinMP
				h2 Room Edition
		section#home-main
			.MP
				form(method="post")
					.room-edition
						#room-edition-fields
							input(type="hidden", name="secret", value=secret)
							input#id(type="hidden", name="id")
							table.form
								tr
									th Name
									td
										input#name(type="text", name="name", pattern="[^\\[\\]]{2,50}")
								tr
									th Privacy
									td
										select#private(name="private")
											option(value="on") Private Room
											option(value="off") Public Room
								tr
									th Listings
									td
										select#listed(name="listed")
											option(value="on") Listed Room
											option(value="off") Discreet Room
								tr
									th Language
									td
										select#lang(name="lang")
								tr
									th Illustration
									td
										input#img(type="url", name="img", pattern="https://\\S+")
								tr
									th Description
									td
										textarea#description(name="description")
								tr
									th Tags
									td
										input#tags(name="tags")
						div
							h3 Preview
							#room-preview
					p#err.error
					div.dialog-buttons
						input#cancel(type="button", value="Cancel")
						input#submit(type='submit', value='Save')
