doctype html
html
	head
		title Miaou - Profile Creation
		meta(name="viewport",content="initial-scale=1, maximum-scale=1")
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		style.
			#username-main {
				width:330px;
				margin:auto;
				padding:40px 4px;
			}
	body
		form(method="post")
			input(type="hidden", name="secret", value=secret)
			div#username-main
				img(src="static/Miaou-300-f.png",vspace="20px")
				p Pick a name by which you will be recognized.
				p Choose wisely (not &quot;wisely&quot;).
				p
					label.label Name&thinsp;:&nbsp;
					input#name(type="text", name="name", value=suggestedName, pattern="\\w[\\w_\\-\\d]{2,19}")
				p#err.error= error
				button#submit Save
				button#gotochat Go to chat
				button#gotoextendedprofile Add more info to my profile
		
		script.
			$(document.body).addClass(
				/Android|webOS|iPhone|iPad|iPod|BlackBerry|Mini/i.test(navigator.userAgent) ? 'mobile' : 'desktop'
			);
			var valid = !{JSON.stringify(valid)};
			$('#name').focus().keyup(function(){
				if (!this.validity.valid){
					if (this.value[0]==='-') {
						$('#err').text("A username can't start with an hyphen (\"-\")");	
					} else {
						$('#err').text('Please type a name with 3 to 20 standard characters, digits, "_" or "-"');
					}
					$('#submit').hide();
				} else if (/w+[_-]*[iy]+[_-]*s+[_-]*e+[_-]*l+[_-]*[iy]+/i.test(this.value)) {
					$('#err').text('More wisely, less "wisely", please.');
					$('#submit').hide();
				} else {
					$('#err').text('');
					$('#submit').show();
				}
			});
			$('#close').click(function(){ location = 'rooms'; return false; });
			
			if (!valid) $('#gotochat, #gotoextendedprofile').hide();
			$('#gotochat').click(function(){ location = 'rooms'; return false; });
			$('#gotoextendedprofile').click(function(){ location = 'prefs'; return false; });
