// To create a theme, create a directory in /themes
//  with a variables.scss file and copy from here
//  the variables you want to override.

// chat colors
$bg-color: #F0EAD6 !default;
$general-text-color: black !default;
$title-text-color: #655 !default;
$message-list-bg: white !default;
$message-me-bg: #F0EAD6 !default;
$notifications-bg-color: #fffa9e !default;
$connected-user-text-color-in-user-list: black !default;
$user-text-color-in-user-list: #444 !default;
$user-text-color-in-message: #555 !default;
$code-text-color: #444 !default;
$chat-tabs-border-color: #655 !default;
$input-bg: white !default;
$input-text-color: black !default;
$normal-border-separation: thin dotted #ddd !default;
$disrupt-border-separation: thin solid #ccc !default;

// message sizing
$message-min-height: 30px !default;
$user-padding-in-message: 1px 3px !default;
$message-content-padding: 4px !default;
$message-content-line-height: 1.5 !default;

// profile in chat
$profile-bg-color: #fffcc5 !default;
$profile-box-shadow: 2px 2px 2px #999 !default;
$profile-text-color: black !default;

// buttons
$button-bg-color: #E3DAC9 !default;
$button-text-color: #333 !default;
$button-box-shadow: 1px 1px 3px #999 !default;
$button-border: 1px solid #999 !default;
$button-hover-text-color: black !default;
$button-hover-border-color: #666 !default;
$small-button-box-shadow: 1px 1px 2px #999 !default;

// chat layout
$input-height: 80px !default; // height of input
$left-panel-width: 150px !default;
$right-panel-width: 330px !default;
$hist-width: 200px !default;
$chat-tabs-border-width: 1px !default;

// mobile chat layout
$minput-height: 50px !default; // height of input in mobile interface
$mtab-height: 39px !default;   // height of the top tabs in mobile interface
