$mpad-room-bg: #444;
$mpad-watches-bg: #242;
$mpad-search-bg: #244;
$mpad-notables-bg: #224;
$mpad-users-bg: #422;
$mpad-menu-bg: #320;
$mpad-write-bg: #222;
$tabs-height: 48px;
html, #mpad {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.mpad-tabs {
	height: $tabs-height;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	z-index: 20;
}
#mpad-top-tabs{
	// position: fixed;
	// top:0;
	// left: 0;
	// right: 0;
}
#mpad-bottom-tabs{
}
.mpad-tab {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 -1px;
}
#mpad-tab-room {
	background: $mpad-room-bg;
	flex-grow: 1;
}
#mpad-tab-watches {
	background: $mpad-watches-bg;
	width: 15%;
}
#mpad-tab-search {
	background: $mpad-search-bg;
	width: 15%;
}
#mpad-tab-notables {
	background: $mpad-notables-bg;
	width: 15%;
}
#mpad-tab-users {
	background: $mpad-users-bg;
	width: 40%;
}
#mpad-tab-menu {
	background: $mpad-menu-bg;
	flex-grow: 1;
}
#mpad-tab-write {
	background: $mpad-write-bg;
	width: 40%;
}
.mpad-page {
	display: none;
	color: white;
	&.open {

	}
}
#mpad-page-room {
	background: $mpad-room-bg;
	position: fixed;
	top: $tabs-height - 1px;
	left: 0;
	right: 0;
	height: calc(100% - 150px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	#room-description {
		flex: 1;
		overflow-y: auto;
	}
}
#mpad-page-watches {
	background: $mpad-watches-bg;
	position: fixed;
	top: $tabs-height - 1px;
	left: 0;
	right: 0;
	bottom: 80px;
	padding: 5px;
	overflow-y: auto;
}
#mpad-page-search {
	background: $mpad-search-bg;
	position: fixed;
	top: $tabs-height - 1px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
	overflow-y: auto;
}
#mpad-page-notables {
	background: $mpad-notables-bg;
	position: fixed;
	top: $tabs-height - 1px;
	left: 0;
	right: 0;
	height: calc(100% - 150px);
	padding: 15px;
	color: #222;
	#notable-messages {
		background: rgba(255,255,255,.9);
		max-height: 100%;
		overflow-y: auto;
	}
}
#mpad-page-users {
	background: $mpad-users-bg;
	position: fixed;
	bottom: $tabs-height;
	left: 0;
	right: 0;
	height: calc(100% - 150px);
	padding: 5px;
	overflow-y: auto;
	#users {
		width: 40%;
	}
}
#mpad-page-menu {
	background: $mpad-menu-bg;
	position: fixed;
	bottom: $tabs-height;
	left: 20px;
	right: 20px;
	height: calc(100% - 180px);
	padding: 5px;
	a.menu-item {
		color: white;
		text-decoration: none;
		display: block;
		padding: 10px;
	}
}

#mpad-center {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	#message-scroller {
		position: relative;
		overflow-y: scroll;
		margin:0;
		padding: 0;
		flex: 1;
	}
	.user-messages .user {
		width: 80px;
	}
	.decorations {
		flex: 0 0 90px;
	}
}

#mpad-page-write {
	background: $mpad-write-bg;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// padding: 2px;
	// z-index: 25;
	//flex: 1;
	#input {
		height: 80px;
		flex: 1;
	}
}
.mpad-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	input {
		flex: 3;
		align-self: auto;
	}
}
.mpad-button {
	flex: 1;
	margin: 5px;
	line-height: 35px;
	text-align: center;
}

