
$accent: purple;
$accent-plus: rgb(255, 0, 255);
$accent-minus: rgb(189, 51, 164);

//------------

$bg-color: black;
$left-background: black;
$right-background: black;
$box-background: rgba(255, 255, 255, 0.8);
$general-text-color: #bbb;
$title-text-color: #bbb;
$hovered-message-content-bg: black;

$ping-me-bg: #44153B;

// square rooms in list
$square-room-bg: black;
$square-description-opacifier-bg: rgba(0,0,0, .45);
$square-room-description-text-shadow: 0 0 1px black;
$square-room-name-color: white;
$square-room-box-shadow: 0px 0px 3px $accent-minus;
$square-room-hover-box-shadow: 0px 0px 6px $accent-plus;
$square-description-color: #aaa;


$input-border-color: #222;
$chat-tabs-border-color: $accent-minus;

$message-content-border-color: #333;
$content-border-bottom-before-disrupt: none;
$content-border-top-after-disrupt: thin solid #222;

$decoration-color: $accent-minus;
$decoration-clickable-color: $accent;

$message-menu-bg: black;
$message-menu-color: white;
$message-menu-txt-color: white;
$message-menu-vote-color: $accent;
$message-menu-vote-hover-color: $accent-plus;
$message-menu-link-color: #aaa;

$message-votes-color: $accent;
$no-avatar-bg: #444;

$user-in-messages-border-right: none;
$hovered-user-in-messages-border-right: none;
$user-in-messages-bg: none;

$center-shadow: none;

$message-list-bg: black;
$message-me-bg: transparent;

$connected-user-text-color-in-user-list: #bbb;
$connected-user-bg-color-in-user-list: rgba(0,0,0,0.4);

$user-text-color-in-user-list: #666;
$message-me-user-color: $accent-minus;			

$user-text-color-in-message: inherit; // gives to the username the color of the user
$code-text-color: #888;
$user-color-shadow-in-messages: none;
$user-color-shadow-in-messages: inset 1px 0 1px;
$hovered-user-color-shadow-in-messages: inset 1px 0 1px;
//~ $hovered-user-color-shadow-in-messages: inset 35px 0 70px;


$citation-border-color: #666;
$h3-underline-color: #666;
$h4-underline-color: #666;
$h5-underline-color: #666;

$input-bg: #0a0a0a;
$input-text-color: #bbb;
$message-normal-border-top: none;
$message-normal-border-bottom: none;
$message-decoration-button-box-shadow: none;

$side-message-border-top: 4px solid black;
$side-message-border-bottom: none;

$opener-closer-color: $accent;
$opener-closer-hover-color: $accent-plus;
$opener-bg: rgba(0,0,0,0.52);
$opener-hover-bg: rgba(43,0,43,0.5);
$closer-bg: rgba( $bg-color , 0.32);
$closer-hover-bg: rgba(43,0,43,0.5);

$reply-box-bg: #222;
$reply-box-hover-bg: #333;
$reply-box-color: #999;

$goingto-bg: rgba(128, 0, 128, 0.7);

// home
$home-main-shadows: 0 0 10px $accent-plus;
$home-mi-shadows: 0 0 5px $accent;
$home-top-color: #ccc;
$home-hover-link-color: $accent-plus;
$notif-color: #ccc;
$notif-hover-link-color: $accent-plus;
$list-odd-cell-bg: #050505;
$list-even-cell-bg: #090909;
$list-cell-color: #ccc;
$list-cell-hover-link-color: $accent-plus;

// right tabs
$chat-tabs-unselected-bg-color: transparent;
$chat-tabs-selected-bg-color: transparent;
$chat-page-selected-bg: $chat-tabs-selected-bg-color;

// profile in chat
$profile-bg: rgba(20,0,10,0.94);
$profile-box-shadow: 3px 0 3px $accent-minus;
$profile-text-color: #ccc;

// profile avatar rendering
$profile-avatar-filter: drop-shadow(0 0 2px);

// message sizing
$message-min-height: 34px;
$message-content-padding: 6px 10px;
$message-content-border-radius: 5px;
$message-content-margin: 4px;

// room controls
$room-control-bg: $accent;
$room-control-color: rgba(255,255,255,.7);
$room-hover-control-bg: $accent-plus;
$room-hover-control-color: rgba(255,255,255,.9);

// buttons
$button-bg-color: $accent;
$button-text-color: #bbb;
$button-box-shadow: none;
$button-border: none;
$button-hover-text-color: white;
$button-hover-bg-color: $accent-plus;
$button-hover-border-color: none;
$small-button-box-shadow: none;

$right-panel-width: 450px;



::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	border-radius:6px;
	background: black;
	margin: 10px;
}
::-webkit-scrollbar-track:hover {
	background: #111;
}
::-webkit-scrollbar-thumb {
	border-radius:6px;
	background: $accent;
}
::-webkit-scrollbar-thumb:hover {
	background: $accent-plus;
}

// dialog

$dialog-bg: #1a1a1a;
$dialog-color: #bbb;
$dialog-title-bg: #333;

$mwin-bg: rgba(30,30,30,0.7);
$mwin-content-bg: #111;
$mwin-shadow: none;

// wzins
$wzin-conv-bg : ( rgba(176,224,230,0.35), rgba(255,255,102,0.3), rgba(188,143,143,0.3), rgba(255,235,215,0.3) );

// pad
$menu-item-hover-bg: $accent-minus;
$roomname-text-shadow: 0 0 2px black;
$watch-bg: $profile-bg;
$watch-panel-bg: $profile-bg;
$watch-count-new-bg: rgba(255,255,0,.4);
$watch-count-ping-bg: rgba(255,0,0,.2);
$pad-room-desc-bg: rgba(0,0,0,.1);
$pad-room-hover-bg: black;
$pad-room-last-message-bg: $pad-room-hover-bg;
$pad-room-last-message-border-top: solid thin PaleVioletRed;
$watch-has-requests-box-shadow: 0 0 10px $accent;
$watch-has-requests-color: red;
$watch-requests-color: $accent-plus;

// miaou logo
$miaou-logo-color: $accent;
