$miaou-bg: #F0EAD6;
$odd-bg:  white;
$odd-fg: black; 
$even-bg: white; //#FFFACD;
$even-fg: black; // white;

html, body {
	font-family: Tahoma, Geneva, sans-serif;
	margin:0;
	padding:0;
	overflow-x: hidden;
	background: $miaou-bg;
}

@media screen and (max-width: 35.5em) /* ≥ 568px */ { // mobile layout
	
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 1.5em;
		margin: 1em 1em;
		text-align: center;
	}
	h2 {
		font-size: 1.5em;
		margin: 1em 1em;
		text-align: center;
	}
	.nav {
		display: none;
	}
	.container {
		.content {
		}
	}
	#first-page {
		padding-top: 210px;
	}
	.pic {
		text-align: center;
		img {
			margin: 1em 0;
			max-width: 100%;
			max-height: 60%;
		}
	}
	.txt {
		a {
			display: block;
		}
	}
}

@media screen and (min-width: 35.5em) /* ≥ 568px */ { // desktop layout
	
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 2em;
		margin: 0.5em 1em;
		text-align: center;
	}
	h2 {
		font-size: 1.6em;
		text-align: center;
	}
	p {
		max-width: 450px;
	}
	section {
		position: relative;
	}
	.nav {
		z-index: 2;
		position: absolute;
		width: 50;
		right: 10px;
		bottom: 20px;
		font-size: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		div {
			background: #dc3535;
			cursor: pointer;
			color: #222;
			opacity: 0.55;
			height: 40px;
			width: 40px;
			border-radius: 20px;
			margin: 3px;
			text-align: center;
			&:hover {
				opacity: 1;
			}
		}
	}
	.container {
		position: absolute;
		top: 40px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		display: flex;
		flex-direction: column;
		align-content: stretch;
		.content {
			flex-direction: row;
			display: flex;
			flex-grow : 1;
		}
		.content {
			margin: 6px;
			.txt {
				padding: 10px;
				&:first-child {
					align-items: flex-end;
				}
				&:last-child {
					align-items: flex-start;
				}
			}
		}
	}

	.pic {
		flex: 3 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		&:first-child {
			align-items: flex-end;
		}
		&:last-child {
			align-items: flex-start;
		}
		img {
			max-width: 90%;
			max-height: 90%;
		}
	}
	.txt {
		flex: 0 1 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		a {
			margin: 1px;
			padding : 0 3px;
			font-size: 115%;
			cursor: pointer;
			display: inline-block;
			position: relative;
			&::before {
				padding : 0 3px;
				display: inline-block;
				position: absolute;
				top: 0; left: 0;
				content: attr(data-hover);
				overflow: hidden;
				max-width: 0;
				opacity: 0;
				transition: max-width 0.5s, opacity 0.1s;
				white-space: nowrap;
			}
			&:hover::before, &:focus::before {
				max-width: 100%;
				opacity: 1;
			}
		}
	}

	@media (max-height: 500px) {
		body {
			font-size: 9px;
		}
	}
	@media (min-height: 500px) and (max-height: 800px) {
		body {
			font-size: 14px;
		}
	}
	@media screen and (min-width: 48em) /* ≥ 768px */ {
		body {
			font-size: 16px;
		}
	}
	@media screen and (min-width: 80em)  /* ≥ 1280px */ and (min-height: 580px) {
		.txt a {
			background : rgba(0,0,0,0.18);
			&::before {
				border-bottom: 2px solid gold;
				background : rgba(0,0,0,0.15);
			}
		}
	}
}


#minimiaou {
	z-index: 3;
	position: fixed;
	top: 4px; left: 2px;
	cursor: pointer;
}

#github {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	z-index: 5;
	cursor: pointer;
}

#intro-supertop {
	background: #dc3535;
	padding: 10px;
	z-index: 4;
	top: 0; left: 0; right: 0;
	position: absolute;	
}

#intro-top {
	background: #dc3535;
	z-index: 2;
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 2px;
	height: 38px;
}

section {
	padding: 0;
	margin: 0;
	&:nth-child(odd) {
		background: $odd-bg;
		color: $odd-fg;
	}
	&:nth-child(even) {
		background: $even-bg;
		color: $even-fg;
	}
	&#first-page .container {
		top: 220px;
		.content .txt {
			line-height: 32px;
		}
	}
	.container {
		h2 {
			padding: 3px;
			text-align: center;
		}
	}
}

div.MP {
	width: 300px;
	margin: auto;
	padding: 0;
	text-align: center;
}
div.button.enter {
	width: 150px;
	margin: auto;
	text-align: center;
	margin-top: 5px;
}
.button {
	background-color: #ddd;
	padding: 4px 8px;
	border: 1px solid #999;
	margin: 2px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #999;
    outline: none;
    cursor: pointer;
    transition: all 100ms ease;
}
.button:hover, .button:focus {
    border-color: #666;
    color: black;
}
