body {
	background: #F0EAD6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
}
.table {
	display: table;
	width:100%;
	height:100%;
	table-layout: fixed;
}
section {
	margin: 0 0 8px 0;
}
#left, #right {
	display: table-cell;
	height:100%;
	padding: 0;
	vertical-align: top;
}
#left {
	display: table-cell;
	width: 150px;
	height:100%;
	vertical-align: top;
}
#right {
	display: table-cell;
	width: 260px;
	height:100%;
	vertical-align: top;
}
#rightcontainer {
	width:100%;
	height:100%;
	overflow-y: auto;
	overflow-x: hidden;
}
#center {
	display: table-cell;
	background: white;
	padding:0;
	vertical-align: top;
}
#prefs {
	padding: 4px;
}
#prefs .pref {
	line-height: 180%;
}
#prefs .user, #users .user {
	cursor: pointer;
	padding: 1px 5px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}
#me {
	position: relative;
	text-decoration: none;
	color: black	;
	display: block;
	text-align: center;
}
#users .user:hover {
	background: #FFFAE6;
}
#messagescell {
	display: table-row;
}
#messages {
	margin-top:0;
	vertical-align: top;
	width:100%;
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.message {
	padding: 3px;
	position: relative;
}
.messageinfo {
	position: absolute;
	top: 2px;
	right: 2px;
	background: white;
	color: black;
	opacity: 0.85;
	font-size: 80%;
}
.message.me {
	background-color: #fdf6e5;
}
.message + .message {
	border-top: thin dotted #ddd;
}
.message + .message.disrupt {
	border-top: thin solid #aaa;
}
.message .user {
	width: 120px;
	display:inline-block;
	padding-left: 2px;
	color: #555;
	text-overflow: ellipsis;
	overflow: hidden;
}
.message .content {
	width: calc(100% - 122px);
	display:inline-block;
	word-wrap: break-word;
}
.message.edited .content:before {
	content: url(img/icon_pencil.png);
	margin-right: 4px;
}
.message .content img, .rendered img {
	border: none;
	max-width: 100%;
	max-height: 130px;
	cursor: pointer;
}
code {
	font-family: monospace;
	color: #444;
	white-space: pre;
}
.indent {
	margin-left: 15px;
}
.citation {
	border-left: medium solid #bbb;
	margin-left: 15px;
	padding-left: 3px;
	display: inline-block;
}
.olli {
	margin: 0 5px;
	font-weight: 700;
}
.olli:after {
	content: ".";
}
.ulli:before {
	content: "• ";
}
.h1 {
	font-weight: bold;
	text-decoration: underline;
}
.h2 {
	text-decoration: underline;
}

#inputpanel {
	background: #F0EAD6;
	display: table-row;	
	width:100%;
	height: 94px;
}
#input {
	width: calc(100% - 14px - 70px);
	height:80px;
	margin-top: 4px;
	margin-left: 2px;
	resize: none; 
	float: left;
}
#preview {
	width: calc(100% - 9px - 70px);
	height: calc(100% - 5px);
	float: left;
	word-wrap: break-word;
	background: white;
	overflow-y: auto;
	padding: 2px;
}
#inputpanel button, #previewpanel button {
	width: 70px;
	float: right;
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: -2px;
	text-align: center;
	padding: 0;
}
#previewpanel {
	background: #F0EAD6;
	display: table-row;	
	width:100%;
	height: 94px;
	display: none;
}
h1 {
	color: #655;
	font-size: 140%;
	margin-top: 5px;
	margin-bottom: 5px;
}
h1 a {
	margin: 5px;
	text-decoration: none;
}
h2 {
	color: #655;
	font-size: 120%;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 4px;
}
p {
	padding: 4px;
	margin: 4px;
}
pre {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	padding-left: 2px;
}
.mask {
	position: fixed;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background: white;
	opacity: 0.8;
	display: none;
}
.error, .user.error {
	color: red;
}
span.warning {
	color: orange;
}

.dialog {
	position:fixed;
	right: 30%;
	left: 30%;
	z-index: 30;
	top: 20%;
	opacity:.96;
	box-shadow: 0px 6px 10px #666;
	border-radius: 5px;
	padding: 0;
	background: white;
}
.dialog[error] {
	background-color:#C33;
}
.dialog  a {
	text-decoration: underline;
}
.dialog_title {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 4px;
	background: #E3DAC9;
	font-size: 105%;
	font-weight: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.dialog_title[error] {
	border-color: red;
}
span.button  {
	margin-top: 10px;
	margin-bottom: 3px;
	text-align: right;
	cursor: pointer;
	border: thin solid black;
	padding: 3px;
	border-radius: 3px;
}
span.button:hover {
	background-color: #eed;
}
.dialog_buttons {
	float: right;
	padding: 11px 15px;
}
.dialog_content {
	padding: 7px;
}
.dialog_content p, .dialog_content h2, .dialog_content .form {
	clear: both;
}
.dialog_content h2{
	margin-left: 4px;
}
.dialog_content .label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:120px;
	float:left;
	padding: 8px 4px;
	clear: both;
}
.dialog_content input[type=text], .dialog_content .input{
	float:left;
	padding:4px 2px;
	width: calc( 100% - 155px );
	margin: 4px 2px 15px 10px;
}
.dialog_content .small{
	color:#666666;
	display:block;
	font-size:95%;
	font-weight:normal;
	text-align:right;
	width:120px;
}
.dialog_content .cblabel{
	float: left;
	padding: 4px 2px;
	width: calc( 100% - 200px );
	margin: 2px 0 5px 0;
}
.dialog_content input[type=checkbox]{
	float: left;
	margin: 10px 10px;
}
.dialog_content textarea {
	float:left;
	padding:4px 2px;
	border:solid 1px #888;
	width: calc( 100% - 155px );
	margin:2px 0 15px 10px;
	height: 70px;
}
.dialog_content .mdpreview {
	float:left;
	padding:4px 2px;
	width: calc( 100% - 155px );
	margin:2px 0 20px 10px;
	height: 70px;
}
.close_dialog {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	cursor: pointer;
}
.close_dialog:hover {
	background: #333;
}

:invalid {
	border: 2px solid red;
}

.closed {
	max-height: 138px;
	overflow: hidden;
}
.opener,
.closer {
  height: 13px;
  text-align: center;
  cursor: pointer;
  color: #988;
}
.opener:hover,
.closer:hover {
  color: black;
}
.opener::before {
  content: '▼';
}
.closer::before {
  content: '▲';
}

.list {
	min-width: 70%;
}
.list th, .list td {
	padding: 8px;
	background: #F7F4E9;
}
.list th {
	border-radius: 5px 0 0 5px;
}
.list td:last-child {
	border-radius: 0 5px 5px 0;
}
.list td.role {
	width: 45px;
}

#changeroom, #editroom, #auths {
	font-size: 75%;
	float: right;
	margin: 2px;
}

div.MP {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.CL, .CR {
	width: 49%;
	padding: 2px;
}
.CL {
	float: left;
}
.CR {
	float: right;
}

#response {
	color: #555;
}

.private:before {
	content:"⚷"
}
.notification {
	padding: 5px;
	background-color: #fffa9e;
}
.notification .user {
	font-style:italic;
}
.notification button {
	margin-left: 10px;
}
