body {
	background: #F0EAD6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
}
.table {
	display: table;
	width:100%;
	height:100%;
	table-layout: fixed;
}
section {
	margin: 0 0 8px 0;
}
#left, #right {
	display: table-cell;
	height:100%;
	padding: 0;
	vertical-align: top;
}
#left {
	display: table-cell;
	width: 150px;
	height:100%;
	vertical-align: top;
}
#prefs{
	padding: 4px;
}
#right {
	display: table-cell;
	width: 260px;
	height:100%;
	vertical-align: top;
}
#rightcontainer {
	width:100%;
	height:100%;
	overflow-y: auto;
	overflow-x: hidden;
}
#center {
	display: table-cell;
	background: white;
	padding:0;
	vertical-align: top;
}
#users .user {
	cursor: pointer;
	padding: 1px 5px;
	display: block;
}
#users .user:hover {
	background: #FFFAE6;
}
#messagescell {
	display: table-row;
}
#messages {
	margin-top:0;
	vertical-align: top;
	width:100%;
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.message {
	padding: 3px;
	position: relative;
}
.messageinfo {
	position: absolute;
	top: 2px;
	right: 2px;
	background: white;
	color: black;
	opacity: 0.85;
	font-size: 80%;
}
.message.me {
	background-color: #fdf6e5;
}
.message + .message {
	border-top: thin dotted #ddd;
}
.message .user {
	width: 120px;
	display:inline-block;
	padding-left: 2px;
	color: #555;
}
.message .content {
	width: calc(100% - 122px);
	display:inline-block;
	word-wrap: break-word;
}
.message .content img {
	border: none;
	max-width: 100%;
	max-height: 130px;
	cursor: pointer;
}
code {
	font-family: monospace;
	color: #333;
	white-space: pre;
}
.indent {
	margin-left: 15px;
}
.citation {
	border-left: medium solid #bbb;
	margin-left: 15px;
	padding-left: 3px;
	display: inline-block;
}

#inputpanel {
	background: #F0EAD6;
	display: table-row;	
	width:100%;
	height: 94px;
	text-align: center;
}
#input {
	width: calc(100% - 14px - 70px);
	height:80px;
	margin-top: 4px;
	margin-left: 2px;
	resize: none; 
	float: left;
}
#inputpanel button {
	width: 70px;
	float: right;
	margin-top: 4px;
	margin-right: 2px;
}
h1 {
	color: #988;
	font-size: 130%;
	margin-top: 0;
	margin-bottom: 2px;
	padding-left: 4px;
}
p {
	padding: 4px;
	margin: 4px;
}
pre {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	padding-left: 2px;
}
.mask {
	position: fixed;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background: white;
	opacity: 0.8;
	display: none;
}
.error, .user.error {
	color: red;
}
span.warning {
	color: orange;
}

.dialog {
	position:fixed;
	right: 30%;
	left: 30%;
	z-index: 30;
	top: 20%;
	opacity:.96;
	box-shadow: 0px 6px 10px #666;
	border-radius: 5px;
	padding: 0;
	background: white;
}
.dialog[error] {
	background-color:#C33;
}
.dialog  a {
	text-decoration: underline;
}
.dialog_title {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 4px;
	background: #E3DAC9;
	font-size: 105%;
	font-weight: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.dialog_title[error] {
	border-color: red;
}
span.button  {
	margin-top: 10px;
	margin-bottom: 3px;
	text-align: right;
	cursor: pointer;
	border: thin solid black;
	padding: 3px;
	border-radius: 3px;
}
span.button:hover {
	background-color: #eed;
}
.dialog_buttons {
	float: right;
	padding: 11px 7px;
}
.dialog_content {
	padding: 7px;
}
.close_dialog {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	cursor: pointer;
}
.close_dialog:hover {
	background: #333;
}

:invalid {
	border: 2px solid red;
}

.closed {
	max-height: 138px;
	overflow: hidden;
}
.opener,
.closer {
  height: 13px;
  text-align: center;
  cursor: pointer;
  color: #988;
}
.opener:hover,
.closer:hover {
  color: black;
}
.opener::before {
  content: '▼';
}
.closer::before {
  content: '▲';
}

#list {
	margin: auto;
	width: 80%;
	max-width: 900px;
	padding: 30px;
}
.list th, .list td {
	padding: 8px;
}
.list td {
	background: #eee;
	opacity: 0.85;
	border-radius: 7px;
}

#changeroom {
	font-size: 60%;
	float: right;
	margin: 2px;
}
