@font-face {
	font-family: 'fontello';
	src: url('fontello.woff?4b0a57ed') format('woff');
}
$bg-color: #F0EAD6;
$mtab-height: 39px;   // height of the top tabs in mobile interface
$input-height: 80px; // height of input
$minput-height: 50px; // height of input in mobile interface
$left-panel-width: 150px;
$right-panel-width: 320px;
$hist-width: 200px;
$profile-bg-color: #fffcc5;
$notifications-bg-color: #fffa9e;
body {
	background: $bg-color;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
	&.chat {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		&.mobile {
			background: white;
		}
	}
	&.logo.mobile  {
		font-size: 40px;
		button {
			font-size: 40px;
			margin: 13px;
		}
	}
	&.home {
		a {
			color: black;
		}
		#logo {
			margin-top: 6px;
		}
		p.links {
			margin-top: 5px;
			.username {
				margin: 0 5px;
				font-style: italic;
			}
			a {
				white-space:nowrap;
				margin: 0 5px;
			}
		}
		&.mobile {
			#logo {
				margin-top: 6px;
				text-align: center;
			}
			line-height: 25px;
			padding: 5px;
			p.links a {
				margin-right: 15px;
			}
			p.links a+a {
				margin-left: 15px;
			}
		}
	}
}
#left, #right, #center {
	position: fixed;
	overflow-x: hidden;
}
#left {
	top:0; left:0; bottom:0;
	width: $left-panel-width;
	overflow-y: auto;
}
#right {
	top:0; right:0; bottom:0;
	width: $right-panel-width;
	overflow-y: auto;
}
#center {
	display:flex;
	flex-direction: row;
	top:0;
	left: $left-panel-width;
	right: $right-panel-width;
	bottom: 0;
}
#vert-center {
	display:flex;
	flex-direction: column;
	background: white;
	height: 100%;
	flex-grow: 1;
	flex-basis: 0;
}
#hist {
	flex-basis: $hist-width;
	flex-grow: 0;
	background: rgba($bg-color,.8);
	display: none;
	overflow-y: scroll;
	font-size: 70%;
	color: #655;
	.month {
		position: relative;
		border-bottom: thin dotted rgba(#655,0.4);
		.label {
			position: absolute;
			height: 100%;
			left: 1px; top: 0;
			z-index: 2;
			opacity: 0.8;
			pointer-events: none;
		}
		.day {
			position: relative;
			width: 100%;
			height: 4px;
			text-align: right;
			&[m] {
				cursor: pointer;
			}	
			.bar {
				position: absolute;
				right: 0;
				background-color: #655;
				opacity: 0.4;
				height: 100%;
				&.hit {
					opacity: 1;
				}
			}
			.bubble {
				position: absolute;
				top: 4px;
				left: 30px;
				text-align: left;
				z-index: 3;
				background: rgba(255,255,255,0.6);
			}
			&.vis {
				background: white;
			}
			&.vis:hover, &:hover {
				background: #d5cba6;
			}
		}
	}
}
#messagescroller {
	width: 100%;
	overflow-y: scroll;
	flex-grow: 1;
	flex-basis: 0;
}
.table {
	display: table;
	width:100%;
	height:100%;
	table-layout: fixed;
}
section {
	margin: 0 0 8px 0;
}

#prefs {
	padding: 4px;
	text-align: center;
	.pref {
		line-height: 180%;
	}
	button {
		margin-bottom: 8px;
	}
}
body.mobile #prefs {
}
#prefs .user, #users .user {
	position: relative;
	cursor: pointer;
	padding: 1px 5px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 18px;
}
body.mobile #users .user {
	line-height: 30px;
}

#me {
	position: relative;
	text-decoration: none;
	color: black	;
	display: block;
	text-align: center;
}
#users .user:hover {
	background: $profile-bg-color;
}

#messages {
  	margin-top:0;
	vertical-align: top;
	position: relative;
	.message + .message {
		border-top: thin dotted #ddd;
	}
	.message + .message.disrupt {
		border-top: thin solid #ccc;
	}
}
.profile {
	position: absolute;
	z-index:5;
	padding: 5px;
	box-shadow: 2px 2px 2px #999;
	width: 216px;
	min-height: 24px;
	color: black;
	background: $profile-bg-color;
	h1 {
		width: 100%;
		text-align: center;
		font-size: 110%;
	}
	h2 {
		font-size: 100%;
	}
	p {
		padding: 0;
	}
}
.user.profiled {
	box-shadow: 2px 2px 2px #999;
	background: $profile-bg-color;
}

body.mobile #messagescroller {
	position: fixed;
	top: 0;
	right: 0;
	bottom: $minput-height + 8px;
	left: 0;
	overflow-y: scroll;
	margin:0;
	padding: $mtab-height 0 0 0;
}

.message {
	position: relative;
    align-items: center;
    align-content: center;
    .user {
		position: relative;
		align-items: center;
		align-content: center;
		width: 120px;
		padding: 1px;
		color: #555;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		z-index: 2;
	}
	.content {
		word-wrap: break-word;
		overflow-y: hidden;
		overflow-x: hidden;
		min-height: 22px;
		line-height: 20px;
		padding-top: 1px;
		padding-left: 2px;
		&.closed {
			max-height: 112px;
		}
	}
	&.me {
		background-color: #fdf6e5;
	}
}
.message, .user {
	button {
		position: absolute;
		z-index: 3;
		right: 25px;
		top: calc(50% - 8px);
		text-align:center;
		padding: 0 8px;
		margin: 0 3px 0 0;
		border-radius: 3px;
		box-shadow: 1px 1px 2px #999;		
		font-size: 80%;
	}
}
#messages .message {
	display: flex;
	.content {
		width: calc(100% - 122px);
	}
}
body.mobile .message .user {
	width: 75px;
}
.rendered {
	text-align: left;
}
.message.edited .content:before {
	font-family: "fontello";
	content: "\e80c";
	color: #666;
	margin-right: 4px;
}
.content img, .rendered img {
	border: none;
	max-width: 100%;
	max-height: 130px;
	cursor: pointer;
}
#searchresults .content img, #notablemessages .content img, table.list .rendered img {
	max-height: 70px;
}
#roomdescription {
	padding: 1px;
	img {
		max-height: 250px;
	}
}
.messagemenu {
	position: absolute;
	top: 0;
	right: 1px;
	background: white;
	color: black;
	opacity: 0.85;
	font-size: 80%;
	color: #555;
	.txt {
		color: black;
	}
	.vote {
		font-family: "fontello";
		color: #888;
		margin: 0 4px;
		cursor: pointer;
		&.on {
			color: black;
		}
	}
	.link {
		font-family: "fontello";
		color: #336;
		margin: 0 4px;
		text-decoration: none;
	}
}
body.mobile .messagemenu .vote {
	margin: 0 10px; // I have fat fingers, yes
}
.messagevotes {
	position: absolute;
	top: 9px;
	right: 1px;
	color: black;
	opacity: 0.6;
	font-size: 70%;
}
.nminfo {
	opacity: 0.7;
	font-size: 80%;
}
.messagevotes .vote, .nminfo .vote {
	font-family: "fontello";
	color: black;
	margin: 0 4px;
}
#notablemessages, #searchresults {
	.message {
		border-bottom: thin dotted #aaa;
	}
	.message {
		cursor: pointer;
	}
	.content {
		opacity: 0.8;
	}
	.closed {
		max-height: 48px;
	}
}
code {
	font-family: monospace;
	color: #444;
	white-space: pre;
}
.indent {
	margin-left: 15px;
}
.slashme {
	font-style:italic;
	color: #333;
}
.citation {
	border-left: medium solid #bbb;
	margin-left: 15px;
	padding-left: 0;
	display: inline-block;
}
.citation:before {
	content: ".";
	opacity: 0;
}
.olli {
	margin: 0 5px;
	font-weight: 700;
}
.olli:after {
	content: ".";
}
.ulli:before {
	content: "• ";
}
.h1 {
	font-weight: bold;
	text-decoration: underline;
}
.h2 {
	text-decoration: underline;
}
.h3 {
	border-bottom: 1px dashed black;
}
.h4 {
	border-bottom: 1px dotted #333;
}
.h5 {
	border-bottom: 1px dotted #999;
}
#inputpanel {
	background: $bg-color;
	width:100%;
	flex-basis:  $input-height + 10px;
	flex-grow: 0;
}
body.mobile #inputpanel {
	display: block;
	position: fixed;
	bottom:0; left:0; right:0;
	height: $minput-height + 10px;
}
$input-buttons-width: 74px;
#input {
	width: calc(100% - 16px - #{$input-buttons-width}); 
	height: $input-height;
	margin-top: 2px;
	margin-left: 2px;
	resize: none; 
	float: left;
	&.edition {
		background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(160,160,160,.3) 21%, rgba(160,160,160,.3) 34%, transparent 35%, transparent),
			radial-gradient(circle at 0% 50%, transparent 20%, rgba(160,160,160,.3) 21%, rgba(160,160,160,.3) 34%, transparent 35%, transparent) 0 -50px;
		background-color: white;
		background-size: 15px 20px;
	}
}
body.mobile #input {
	height: $minput-height;
}
#preview {
	width: calc(100% - 11px - #{$input-buttons-width});
	height: $input-height;
	float: left;
	word-wrap: break-word;
	background: white;
	overflow-y: auto;
	padding: 2px;
}
#inputpanel button, #previewpanel button {
	width: $input-buttons-width;
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: -2px;
	text-align: center;
	padding: 0;
}
body.mobile #inputpanel button {
	width: $input-buttons-width;
	height: $minput-height + 2px;
	margin-left: 4px;
	margin-top: 4px;
	text-align: center;
	padding: 0;
}
#previewpanel {
	background: $bg-color;
	width:100%;
	height: $input-height + 8px;
	flex-grow: 0;
	display: none;
}
h1 {
	color: #655;
	font-size: 140%;
	margin-top: 5px;
	margin-bottom: 5px;
	a {
		margin: 5px;
		text-decoration: none;	
	}
}
h2 {
	color: #655;
	font-size: 120%;
	margin-top: 2px;
	padding-top: 2px;
	margin-bottom: 2px;
	padding-left: 4px;
}
h3 {
	color: #655;
	font-size: 110%;
}
p {
	padding: 4px;
	margin: 4px;
}
pre {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	padding-left: 2px;
}
.mask {
	position: fixed;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background: white;
	opacity: 0.8;
	display: none;
}
#messages .error {
	display: inline-block;
}
.error, #messages .user.error {
	color: red;
}
span.warning {
	color: orange;
}

#centerer {
	text-align: center;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin: 20px;
	&:before {
		content: '';
		display: inline-block;
		height: 100%; 
		vertical-align: middle;
	}
}
.centered {
	display: inline-block;
	vertical-align: middle;
	min-width:500px;
}
.dialog {
	&.intro { // intro dialog, displayed below the big Miaou logo
		position:fixed;
		right: 30%;
		left: 30%;	
	}
	&.centered {
		min-width:500px;
	}
	z-index: 30;
	opacity:.96;
	box-shadow: 0px 6px 10px #666;
	border-radius: 5px;
	padding: 0;
	background: white;
	&[error] {
		background-color:#C33;
	}
	a {
		text-decoration: underline;
	}
}
body.mobile .dialog.intro { 
	right: 3%;
	left: 3%;
}
.dialog_title {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 4px;
	background: #E3DAC9;
	font-size: 105%;
	font-weight: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	&[error] {
		border-color: red;
	}
}
.dialog_content {
	padding: 7px;
	p, h2, .form, .label {
		clear: both;
	}
	h2{
		margin-left: 4px;
	}
	.label {
		display:block;
		font-weight:bold;
		text-align:right;
		width:120px;
		float:left;
		padding: 8px 4px;
	}
	input[type=text], .input {
		float:left;
		padding:4px 2px;
		width: calc( 100% - 155px );
		margin: 4px 2px 15px 10px;
	}
	.small {
		color:#666666;
		display:block;
		font-size:95%;
		font-weight:normal;
		text-align:right;
		width:120px;
	}
	.cblabel {
		float: left;
		padding: 4px 2px;
		width: calc( 100% - 200px );
		margin: 2px 0 5px 0;
	}
	input[type=checkbox] {
		float: left;
		margin: 10px 10px;
	}
	textarea {
		float:left;
		padding:4px 2px;
		border:solid 1px #888;
		width: calc( 100% - 155px );
		margin:2px 0 15px 10px;
		height: 70px;
	}
	.mdpreview {
		float:left;
		padding:4px 2px;
		width: calc( 100% - 155px );
		margin:2px 0 20px 10px;
		height: 70px;
	}
}
.dialog_buttons {
	padding: 11px 15px;
	text-align: center;
}
.close_dialog {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	cursor: pointer;
	&:hover {
		background: #333;
	}
}

button {
	background-color: #E3DAC9;
	padding: 4px 8px;
	border: 1px solid #999;
	margin: 1px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #999;
    outline: none;
    cursor: pointer;
    color: #333;
    transition: all 100ms ease;
    &.small {
		font-size: 75%;
    }
}
button:hover,button:focus {
    border-color: #666;
    color: black;
}
button.small {
	padding: 2px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #999;
}

div.radios {
	text-align: center;
	margin: 4px;
	span.label {
		font-size: 90%;
		margin-right: 4px;
	}
	span.radio {
		font-size: 80%;
		background-color: #E3DAC9;
		padding: 2px 2px;
		border: 1px solid #999;
		margin: 0;
		cursor: pointer;
		span {
			position: relative;
		}
		&.selected {
			span {
				transform: translate(2px, 2px);
				left: 1px;
				top: 1px;
			}
			cursor: auto;
			box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3);
		}	
		border-radius: 0;
		border-left: none;	
		border-right: none;	
	}
	:not(.radio) + span.radio {
		border-radius: 7px 0 0 7px;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		padding-left: 4px;
	}
	.radio + .radio {
		border-radius: 0;
	}
	span.radio:last-child {
		border-radius: 0 7px 7px 0;		
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		padding-right: 4px;
	}
}

:invalid {
	border: 2px solid red;
}

.closed {
	overflow: hidden;
}

.opener, .closer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 13px;
	text-align: center;
	cursor: pointer;
	color: #988;
	&:hover {
		color: black;
	}
}
#messages .opener {
	background: rgba(255,255,255,0.3);
	&:hover {
		background: rgba(255,255,255,0.6);
	}
}
.opener::before {
	content: '▼';
}
.closer::before {
	content: '▲';
}

.sectionOpener, .sectionCloser {
	cursor: pointer;
	color: #988;
	margin-bottom: 0;
}
.sectionOpener::before {
	content: '▶ ';
}
.sectionCloser::before {
	content: '▼ ';
}
.sectionCloser + section {
	border-left: 2px solid rgba(#988,0.4);
	padding: 5px;
	margin-top: -4px;
	margin-left: 6px;
}

.reply {
	font-family: 'fontello';
	color: #222;
	cursor: pointer;
	padding: 3px;
	border-radius: 2px;
	background: #ede7d3;
	&:hover {
		background: #d5cba6;
	}
}

.message.target, .message.me.target,.message.goingto, .message.me.goingto {
	background: #d5cba6;
}

.list {
	width: 100%;
	margin-bottom: 30px;
	th, td {
		padding: 8px;
		background: white;
		text-align: left;
	}
	tr:nth-child(even) {
		th, td {
			background: #faf7d5;
		}
	} 
	td.role {
		width: 45px;
	}
}

#authspage {
	position: relative;
}
#roomButtons {
	text-align: center;
}
#changeroom, #editroom, #auths {
	float: right;
	margin: 2px;
}
body.mobile #changeroom, body.mobile #editroom{
	float: inherit;
}
div#logo {
	background: $bg-color;
	margin: 0;
	padding: 3px;
}
div#notifs {
	background: #968881;
	color: #c2b0a8;
}
div.MP {
	width: 70%;
	max-width: 1000px;
	min-width: 800px;
	margin: auto;
}

.CL, .CR {
	background: $bg-color;
	width: 50%;
	padding: 2px;
	display: table-cell;
}
.CL {
}
.CR {
}

#response {
	color: #555;
}

.icon {
	font-family: "fontello";
}

.private:before {
	font-family: "fontello";
	content:"\e814";
	margin-right: 3px;
	opacity: 0.7;
	padding-right: 1px;
	font-size: 70%;
}
.notification {
	padding: 5px;
	background-color: $notifications-bg-color;
	.user {
		font-style:italic;
		z-index: 6;
		padding: 4px;
	}
	button {
		margin-left: 10px;
	}
	.remover {
		float: right;
	}
}

.olderLoader, .newerLoader {
	cursor: pointer;
	text-align: center;
	font-style:italic;
	font-size: 95%;
	opacity: 0.7;
}
.newerLoader + .olderLoader {
	border-top:solid 7px #ccc;	
}

@media (max-height: 400px) {
	.dialog.intro {
		top: 10%;
	}
}
@media (min-height: 400px) and (max-height: 800px) {
	.dialog.intro {
		top: 170px;
	}
	body.logo {
		background:$bg-color url(Miaou-300-f.png) center no-repeat;
		background-position: 50% 1px;
	}
}
@media (min-height: 800px) {
	.dialog.intro {
		top: 35%;
	}
	body.logo {
		background: $bg-color url(Miaou-300-f.png) center no-repeat;
		background-position: 50% 100px;
	}
}

.tabs {
	display: table;
	width: 100%;
	table-layout: fixed;
	.tab {
		display: table-cell;
		text-align: center;
		padding: 5px;
		border-style:solid;
		border-color:  #655;
		border-width: 0 0 1px 0;
		border-radius: 0;
		opacity: 0.5;
		color: #655;
		cursor: pointer;
		font-weight: bold;
		&:hover {
			opacity: 0.8;
		}
		&.selected {
			border-width: 1px 1px 0 1px;
			&:first-child {
				border-width: 1px 1px 0 0;
			}
			&:last-child	 {
				border-width: 1px 0 0 1px;
			}
			opacity: 1;
			font-weight: bold;
		}
	}
}
.page {
	width: 100%;
	display: none;
	&.selected {
		display: block;
	}
}

.mtabs {
	background: none;
}
.mtab {
	background: rgba($bg-color, .9);
	text-align: center;
	height: $mtab-height;
	line-height: $mtab-height;
	position: fixed;
	z-index: 3;
	top: 0;
	&:first-child {
		width: 39%;
		left: 0;
		border-radius: 0 0 10px 0;
		&.closed:before {
			z-index: 2;
			position: absolute;
			top: -2px; left: 5px;
			content: '▼';
			opacity: 0.12;
			font-size: 35px;
		}
		&.open:before {
			z-index: 2;
			position: absolute;
			top: -2px; left: 5px;
			content: '▲';
			opacity: 0.12;
			font-size: 35px;
		}
	}
	&:last-child {
		width: 53%;
		right: 0;
		border-radius: 0 0 0 10px;
		&.closed:before {
			z-index: 2;
			position: absolute;
			top: -2px; right: 5px;
			content: '▼';
			opacity: 0.12;
			font-size: 35px;
		}
		&.open:before {
			z-index: 2;
			position: absolute;
			top: -2px; right: 5px;
			content: '▲';
			opacity: 0.12;
			font-size: 35px;
		}
	}
}
.mpage {
	display: none;
	width: 48%;
	position: fixed;
	z-index: 2;
	top: 0;	
	bottom: $minput-height + 20px;
	overflow-y: auto;
	padding-top: $mtab-height + 4px;
	background: rgba($bg-color, .9);
	&:first-child {
		width: 39%;
		left: 0;
		border-radius: 0 0 10px 0;
	}
	&:last-child {
		width: 53%;
		right: 0;
		border-radius: 0 0 0 10px;
	}
}

div.externalProfile {
	margin: 4px;
	width: 208px;
	padding: 0;
}
.externalProfiles {
	text-align: left;
	margin-left: 8px;
	section.externalProfileForm {
		td {
			text-align: left;
		}
		input {
			float:none;
			width: 100px;
			margin: 0;
			padding: 0;
		}
		input[type=checkbox]{
			width: inherit;
			margin: 2px 8px 0 0;
		}
		div.inputs {
			padding: 10px 0;
		}
	}
	h2 {
		margin-left: -10px;
		margin-bottom: -5px;
		font-size: 110%;
	}
	h3 {
		font-size: 100%;	
	}
}


#searchInput {
	width: calc(100% - 12px);
	margin: 4px;
}
