.message-history {
	max-height: 300px;
	overflow-y: auto;
	.mtime {
		font-style: italic;
		font-size: 95%;
		color: #333;
		margin-bottom: 2px;
	}
	.item {
		margin: 4px;
		border: thin solid #ccc;
		padding: 2px;
	}
}
