#help-body {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	a, a:visited {
		color: $help-link-color;
	}
}
h1 {
	text-align: center;
	flex: 0 0 auto;
}
#help-nav {
	background: $help-nav-bg;
	display: flex;
	color: $home-top-color;
	h1, h2, h3 {
		color: $home-top-color;
		cursor: pointer;
		&:hover {
			color: #fb0;
		}
	}
	box-shadow: 2px 0 2px rgba(0, 0, 0, .15), 5px 0 5px rgba(0, 0, 0, .1);
}

@media (max-device-width:450px) {
	#help-content {
		div, p, pre {
			margin-left: 3px;
		}
	}
	#help-nav h1 {
		font-size: 20px;
		padding: 10px 0;
	}
}
@media (min-device-width:450px) and (max-device-width:800px) {
	#help-content {
		div, p, pre {
			margin-left: 8px;
		}
	}
	#help-nav h1 {
		font-size: 30px;
		padding: 12px 0;
	}
}
@media (min-device-width:800px) {
	#help-content {
		div, p, pre {
			margin-left: 20px;
		}
	}
	#help-nav h1 {
		font-size: 20px;
		padding: 5px 0;
	}
}

@media (max-device-width:800px) {
	pre, code {
		overflow-x: auto;
	}
	#help-content h1, #help-summary {
		display: none;
	}
	#help-nav {
		position: relative;
		flex-direction: row;
		align-items: flex-end;
		#help-miaou-logo-wrapper, h1 {
			flex: 1 1 auto;
		}
	}
	#help-body {
		padding: 10px 10px 10px 10px;
		#help-content {
			overflow-x: hidden;
			.message-content {
				max-width: 90vw;
			}
		}
	}
}
@media (min-device-width:800px) {
	#help-nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 200px;
		flex-direction: column;
	}
	#help-body {
		padding: 10px 10px 10px 210px;
		#help-content {
			max-width: 900px;
		}
	}
}

#help-miaou-logo-wrapper {
	display: block;
	flex: 0 0 110px;
	.Miaou-logo {
		margin: 15px;
		cursor: pointer;
	}
}
#help-summary {
	overflow-y: auto;
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 85%;
		margin: 0;
		padding: 3px 0 3px 8px;
		background: $left-background;
	}
}

#help-shortcuts {
	th {
		width: 100px;
		text-align: right;
		font-weight: normal;
	}
}

#help-content {
	h2, h3 {
		cursor: pointer;
	}
	h2 {
		margin-top: 15px;
		border-top: 5px solid $pad-background;
		padding-top: 15px;
		margin-bottom: 8px;
	}
	h3 {
		margin-top: 8px;
		padding-top: 8px;
	}
	kbd {
		margin: 0px 0.1em;
		padding: 0.1em 0.6em;
		border-radius: 3px;
		border: 1px solid rgb(204, 204, 204);
		color: rgb(51, 51, 51);
		line-height: 1.4;
		font-size: 10px;
		display: inline-block;
		box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
		background-color: rgb(247, 247, 247);
		text-shadow: 0 1px 0 #fff;
	}
	pre {
		//display: inline-block;
		padding: 8px;
	}
	code {
		font-family: monospace;
		white-space: pre;
	}
	.vote {
		font-family: "fontello";
		margin: 0 4px;
	}
	.message-content {
		display:inline-block;
		word-wrap: break-word;
		padding: 8px;
		border: thin dashed rgba(100,100,100,.4);
		max-width: 100%;
		overflow-x: auto;
	}
	.message-content img {
		border: none;
		max-width: 100%;
		max-height: 130px;
	}
	.indent {
		margin-left: 15px;
	}
	.citation {
		border-left: medium solid #bbb;
		padding-left: 3px;
		display: inline-block;
	}
}
