#help-body {
	background: $bg-color;
	padding: 10px 10px 10px 210px;
	overflow-y: auto;
	a, a:visited {
		color: $help-link-color;
	}
}
h1 {
	text-align: center;
	@include flex(0 0 20px);
}
#help-nav {
	background: $help-nav-bg;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	@include flexbox(column);
	color: $home-top-color;
	h1, h2, h3 {
		color: $home-top-color;
		cursor: pointer;
	}
}
#help-miaou-logo-wrapper {
	display: block;
	@include flex(0 0 110px);
	.Miaou-logo {
		margin: 15px;
		cursor: pointer;
	}
}
#help-summary {
	overflow-y: auto;
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 85%;
		margin: 0;
		padding: 3px 0 3px 8px;
		background: $left-background;
	}
}

#help-shortcuts {
	th {
		width: 100px;
		text-align: right;
		font-weight: normal;
	}
}

#help-content {
	max-width: 900px;
	h2, h3 {
		cursor: pointer;
	}
	h2 {
		margin-top: 15px;
		border-top: 5px solid $pad-background;
		padding-top: 15px;
		margin-bottom: 8px;
	}
	h3 {
		margin-top: 8px;
		padding-top: 8px;
	}
	div, p, pre {
		margin-left: 20px;
	}
	kbd {
		margin: 0px 0.1em;
		padding: 0.1em 0.6em;
		border-radius: 3px;
		border: 1px solid rgb(204, 204, 204);
		color: rgb(51, 51, 51);
		line-height: 1.4;
		font-size: 10px;
		display: inline-block;
		box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
		background-color: rgb(247, 247, 247);
		text-shadow: 0 1px 0 #fff;
	}
	pre {
		display: inline-block;
		padding: 8px;
	}
	code {
		font-family: monospace;
		white-space: pre;
	}
	.vote {
		font-family: "fontello";
		margin: 0 4px;
	}
	.message-content {
		display:inline-block;
		word-wrap: break-word;
		display: inline-block;
		padding: 8px;
		border: thin dashed rgba(100,100,100,.4);
	}
	.message-content img {
		border: none;
		max-width: 100%;
		max-height: 130px;
	}
	.indent {
		margin-left: 15px;
	}
	.citation {
		border-left: medium solid #bbb;
		padding-left: 3px;
		display: inline-block;
	}
}
