@font-face {
	font-family: 'fontello';
	src: url('fontello.woff?f1cb85af') format('woff');
}
$bg-color: #F0EAD6; // or #def
$mtab-height: 39px;   // height of the top tabs in mobile interface
$input-height: 80px; // height of input
$minput-height: 50px; // height of input in mobile interface
$left-panel-width: 150px;
$right-panel-width: 330px;
$hist-width: 200px;
$profile-bg-color: #fffcc5;
$notifications-bg-color: #fffa9e;

body {
	background: $bg-color;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
	&.chat {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&.mobile {
			background: white;
		}
	}
}
#prefs, #room-info {
	margin: 5px;
}

#left, #right, #center {
	position: fixed;
	overflow-x: hidden;
}
#left {
	top:0; left:0; bottom:0;
	width: $left-panel-width;
	//~ background: linear-gradient( lighten($bg-color, 12%), darken($bg-color, 1%) );
	background: linear-gradient( $bg-color, darken($bg-color, 20%) );
	overflow-y: auto;
}
#right {
	top:0; right:0; bottom:0;
	width: $right-panel-width;
	overflow-y: auto;
	//~ background: linear-gradient( lighten($bg-color, 12%), darken($bg-color, 1%) );
	background: linear-gradient( $bg-color, darken($bg-color, 20%) );
}
#center {
	display:flex;
	flex-direction: row;
	top:0;
	left: $left-panel-width;
	right: $right-panel-width;
	bottom: 0;
	box-shadow: 0 0 7px black;
	z-index: 2;
}
#vert-center {
	display:flex;
	flex-direction: column;
	background: white;
	height: 100%;
	flex-grow: 1;
	flex-basis: 0;
}

#message-scroller {
	width: 100%;
	overflow-y: scroll;
	flex-grow: 1;
	flex-basis: 0;
}
.table {
	display: table;
	width:100%;
	height:100%;
	table-layout: fixed;
}
section {
	margin: 0 0 8px 0;
}

#prefs {
	padding: 4px;
	text-align: center;
	.pref {
		line-height: 180%;
	}
	button {
		margin-bottom: 8px;
	}
}
#langfilter {
	position: absolute;
	right: 20px;
	top: 20px;
	.lang {
		padding: 5px 5px 2px 5px;
		border-radius: 5px;
		margin: 4px;
		cursor: pointer;
		box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
		opacity: 0.5;
		background: $bg-color;
		transition: background-color 1s;
		&.on {
			background: lighten( $bg-color, 15% ) ;
			box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
			padding: 6px 4px 1px 6px;
			opacity: 1;
			transition: background-color 1s;
		}
		img {
			max-width: 26px;
		}
	}
}
#users {
	padding-top: 2px;
	.user {
		position: relative;
		cursor: pointer;
		padding: 1px 5px;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		line-height: 18px;
		font-style: italic;
		color: #444;
		font-size: 95%;
		&:hover {
			background: $profile-bg-color;
		}
		&.connected {
			font-style: normal;
			color: black;
		}
	}
}


#me {
	position: relative;
	text-decoration: none;
	color: black	;
	display: block;
	text-align: center;
}

#messages {
  	margin-top:0;
	vertical-align: top;
	position: relative;
	.message + .message {
		border-top: thin dotted #ddd;
	}
	.message + .message.disrupt {
		border-top: thin solid #ccc;
	}
}

body.mobile #message-scroller {
	position: fixed;
	top: 0;
	right: 0;
	bottom: $minput-height + 8px;
	left: 0;
	overflow-y: scroll;
	margin:0;
	padding: $mtab-height 0 0 0;
}

.message, #messages .error, .access_request {
	position: relative;
    align-items: center;
    align-content: center;
    .user {
		position: relative;
		align-items: center;
		align-content: center;
		padding: 1px 3px;
		color: #555;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		z-index: 6;
		&.bot {
			font-style: italic;
		}
	}
	.content {
		word-wrap: break-word;
		overflow-y: hidden;
		overflow-x: hidden;
		min-height: 24px;
		line-height: 22px;
		padding-top: 1px;
		padding-left: 2px;
		&.closed {
			max-height: 132px;
		}
		.box {
			background: white;
			margin: 2px;
			border: thin solid #ddd;
			h1 {
				margin: 10px;
				font-size: 120%;
			}
			img {
				max-width: 40%;
			}
			.mainimg {
				margin: 5px;
				margin-right: 10px;
				float: left;
			}
			.txt {
			}
			&[href] {
				cursor: pointer;
			}
		}
		table {
			border-collapse: collapse;
			display: inline-table;
			margin: 5px 0;
			th, td {
				border: 1px solid #bbb;
				padding: 0 3px;
			}
		}
	}
	&.me {
		background-color: #fdf6e5;
	}
}
.decorations {
	position: absolute;
	z-index: 7;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	button {
		text-align: center;
		padding: 0 3px;
		margin: 0 3px 0 0;
		border-radius: 3px;
		box-shadow: 1px 1px 2px #999;		
		font-size: 10px;
		line-height: 14px;
	}
	.decoration {
		font-family: "fontello";
		margin: 2px;
		flex: 0 0 15px;
		cursor: default;
		color: #aaa;
		&.clickable {
			color: #444;
			cursor: pointer;
		}
	}
}

#messages {
	.message, .error, .access_request {
		display: flex;
		.user {
			flex-basis: 120px;
			flex-grow: 0;
			flex-shrink: 0;
		}
		.content {
			padding: 2px;
			flex-grow: 1;
		}
		.mdate {
			align-self: flex-start;
			flex-basis: 90px;
			flex-shrink: 0;
			flex-grow: 0;
			text-align: right;
			font-size: 80%;
			padding: 2px;
		}
	}
}

.rendered {
	text-align: left;
}
.message.edited .content::before {
	font-family: "fontello";
	content: "\e80c";
	color: #666;
	margin-right: 4px;
}

.message.deleted .content {
	font-family: "fontello";
	color: #666;
	margin-right: 4px;
	font-size: 80%;
	a {
		color: #666;	
	}
	&::before {
		content: "\e80d  deleted";
	}
}

.content img, .rendered img {
	border: none;
	max-width: 100%;
	max-height: 130px;
	cursor: pointer;
}
#search-results .content img, #notable-messages .content img, table.list .rendered img {
	max-height: 70px;
}


#roomdescription {
	padding: 5px;
	img {
		max-height: 250px;
	}
	font-size: 13px;
}
.message-menu {
	position: absolute;
	top: 0;
	right: 1px;
	background: white;
	color: black;
	opacity: 0.85;
	font-size: 90%;
	color: #555;
	.txt {
		color: black;
	}
	.vote {
		font-family: "fontello";
		color: #888;
		margin: 0 4px;
		cursor: pointer;
		&.on {
			color: black;
		}
	}
	.unpin {
		cursor: pointer;	
		margin: 0 4px;
	}
	.link, .makemwin {
		cursor: pointer;
		font-family: "fontello";
		color: #336;
		margin: 0 4px;
		text-decoration: none;
	}
}
body.mobile .message-menu .vote {
	margin: 0 10px; // I have fat fingers, yes
}
.message-votes {
	position: absolute;
	bottom: 7px;
	right: 1px;
	color: black;
	opacity: 0.6;
	font-size: 80%;
}
.nminfo {
	opacity: 0.7;
	font-size: 80%;
	padding-top: 2px;
}
.message-votes .vote, .nminfo .vote {
	font-family: "fontello";
	color: black;
	margin: 0 4px;
}
#notable-messages, #search-results {
	.message {
		font-size: 12px;
		padding: 2px 2px 2px 6px;
		border-bottom: thin dashed #aaa;
		&:hover {
			background: lighten($bg-color, 4%);
			transition: background 0.2s;
		}
		&.selected {
			background: lighten($bg-color, 23%);		
			transition: background 0.2s;
		}
		transition: background 0.6s;
		cursor: pointer;
		padding: 6px;
		&.pin {
			font-size: 13px;
		}
	}
	.content {
		opacity: 0.8;
	}
	.closed {
		max-height: 48px;
	}
}
code {
	font-family: monospace;
	color: #444;
	white-space: pre;
}
.indent {
	margin-left: 15px;
}
.slashme {
	font-style:italic;
	color: #333;
}
.citation {
	border-left: medium solid #bbb;
	margin-left: 15px;
	padding-left: 0;
	display: inline-block;
}
.citation::before {
	content: ".";
	opacity: 0;
}
.olli {
	margin: 0 5px;
	font-weight: 700;
}
.olli::after {
	content: ".";
}
.ulli::before {
	content: "• ";
}
.h1 {
	font-weight: bold;
	text-decoration: underline;
}
.h2 {
	text-decoration: underline;
}
.h3 {
	border-bottom: 1px dashed black;
}
.h4 {
	border-bottom: 1px dotted #333;
}
.h5 {
	border-bottom: 1px dotted #999;
}

#input-panel {
	position: relative;
	background: $bg-color;
	width:100%;
	flex-basis:  $input-height + 10px;
	flex-grow: 0;
	z-index: 10;
}
#autocompleter,  {
	position: absolute;
	top: -12px;
	left: 0;
	z-index: 11;
	span {
		background: white;
		margin: 4px;
		padding: 2px;
		border: thin solid #333;
		white-space: nowrap;
		cursor: pointer;
		&.selected {
			font-weight: bold;
		}
	}
}
body.mobile #input-panel {
	display: block;
	position: fixed;
	bottom:0; left:0; right:0;
	height: $minput-height + 10px;
}
$input-buttons-width: 74px;
#input {
	width: calc(100% - 16px - #{$input-buttons-width}); 
	height: $input-height;
	margin-top: 2px;
	margin-left: 2px;
	resize: none; 
	float: left;
}
body.mobile #input {
	height: $minput-height;
}
#preview {
	width: calc(100% - 11px - #{$input-buttons-width});
	height: $input-height;
	float: left;
	word-wrap: break-word;
	background: white;
	overflow-y: auto;
	padding: 2px;
}
#input-panel button, #preview-panel button {
	width: $input-buttons-width;
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: -2px;
	text-align: center;
	padding: 0;
}
body.mobile #input-panel button {
	width: $input-buttons-width;
	height: $minput-height + 2px;
	margin-left: 4px;
	margin-top: 4px;
	text-align: center;
	padding: 0;
}
#preview-panel {
	background: $bg-color;
	width:100%;
	height: $input-height + 8px;
	flex-grow: 0;
	display: none;
}
#upload-panel {
	background: $bg-color;
	width:100%;
	height: $input-height + 8px;
	flex-grow: 0;
	display: none;
	padding: 10px;
	text-align: center;
}
#upload-wait {
	img {
		margin-top: 20px;
	}
}
h1 {
	color: #655;
	font-size: 125%;
	margin-top: 5px;
	margin-bottom: 5px;
	a {
		margin: 5px;
		text-decoration: none;	
	}
}
h2 {
	color: #655;
	font-size: 115%;
	margin-top: 2px;
	padding-top: 2px;
	margin-bottom: 2px;
	padding-left: 3px;
}
h3 {
	color: #655;
	font-size: 110%;
}
p {
	padding: 4px;
	margin: 4px;
}
pre {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	padding-left: 2px;
}

.error, #messages .user.error {
	color: red;
}
span.warning {
	color: orange;
}

#centerer {
	text-align: center;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin: 20px;
	&::before {
		content: '';
		display: inline-block;
		height: 100%; 
		vertical-align: middle;
	}
}
.centered {
	display: inline-block;
	vertical-align: middle;
	min-width:500px;
}

body.mobile .dialog.intro { 
	right: 3%;
	left: 3%;
}
.dialog-title {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 4px;
	background: #E3DAC9;
	font-size: 105%;
	font-weight: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	&[error] {
		border-color: red;
	}
}
table.form {
	width: 100%;
	input, textarea {
		width: 100%;
	}
	input[type=radio], input[type=checkbox] {
		width: initial;
	}
	textarea {
		height: 80px;
	}
	td.leftborder {
		border-left: 1px solid #222;
	}
	th, td {
		padding: 4px;
	}
	th, td:first-child {
		text-align: right;
	}
	th:last-child {
		text-align: left;
	}
}
body.desktop table.form {
	th {
		width: 160px;
	}
}
.dialog-content {
	padding: 7px;
	p, h2, .form, .label {
		clear: both;
	}
	h2{
		margin-left: 4px;
	}
	.label {
		display:block;
		font-weight:bold;
		text-align:right;
		width:120px;
		float:left;
		padding: 8px 4px;
	}
	input[type=text], .input {
		float:left;
		padding:4px 2px;
		width: calc( 100% - 155px );
		&.unlabeled {
			width: calc( 100% - 25px );
		}
		margin: 4px 2px 15px 10px;
	}
	.small {
		color:#666666;
		display:block;
		font-size:95%;
		font-weight:normal;
		text-align:right;
		width:120px;
	}
	.cblabel {
		float: left;
		padding: 4px 2px;
		width: calc( 100% - 200px );
		margin: 2px 0 5px 0;
	}
	input[type=checkbox] {
		float: left;
		margin: 10px 10px;
	}
	textarea {
		float:left;
		padding:4px 2px;
		border:solid 1px #888;
		width: calc( 100% - 155px );
		margin:2px 0 15px 10px;
		height: 70px;
	}
	.mdpreview {
		float:left;
		padding:4px 2px;
		width: calc( 100% - 155px );
		margin:2px 0 20px 10px;
		height: 70px;
	}
}
.dialog-buttons {
	padding: 11px 15px;
	text-align: center;
}
.close_dialog {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	cursor: pointer;
	&:hover {
		background: #333;
	}
}

button, input[type=button], input[type=submit], input[type=reset] {
	background-color: #E3DAC9;
	padding: 4px 8px;
	border: 1px solid #999;
	margin: 1px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #999;
    outline: none;
    cursor: pointer;
    color: #333;
    transition: all 100ms ease;
    &.small {
		font-size: 75%;
    }
	&:hover, &:focus {
		border-color: #666;
		color: black;
	}    
}
button.small {
	padding: 2px 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #999;
}

div.radios {
	text-align: center;
	margin: 3px;
	span.label {
		font-size: 90%;
		margin-right: 4px;
	}
	span.radio {
		font-size: 80%;
		background-color: #E3DAC9;
		padding: 2px 2px;
		border: 1px solid #999;
		margin: 0;
		cursor: pointer;
		span {
			position: relative;
		}
		&.selected {
			span {
				transform: translate(2px, 2px);
				left: 1px;
				top: 1px;
			}
			cursor: auto;
			box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3);
		}	
		border-radius: 0;
		border-left: none;	
		border-right: none;	
	}
	:not(.radio) + span.radio {
		border-radius: 7px 0 0 7px;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		padding-left: 4px;
	}
	.radio + .radio {
		border-radius: 0;
	}
	span.radio:last-child {
		border-radius: 0 7px 7px 0;		
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		padding-right: 4px;
	}
}

:invalid {
	border: 2px solid red;
}

.closed {
	overflow: hidden;
}

.opener, .closer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 13px;
	text-align: center;
	cursor: pointer;
	color: #988;
	&:hover {
		color: black;
	}
}
.message .opener {
	background: rgba( $bg-color , 0.52);
	&:hover {
		background: rgba(255,255,255,0.6);
	}
}
.opener::before {
	content: '▼';
}
.closer::before {
	content: '▲';
}

.section-opener, .section-closer {
	cursor: pointer;
	color: #988;
	margin-bottom: 0;
}
.section-opener::before {
	content: '▶ ';
}
.section-closer::before {
	content: '▼ ';
}
.section-closer + section {
	border-left: 2px solid rgba(#988,0.4);
	padding: 5px;
	margin-top: -4px;
	margin-left: 6px;
}

.reply {
	font-family: 'fontello';
	color: #222;
	cursor: pointer;
	padding: 3px;
	border-radius: 2px;
	background: #ede7d3;
	opacity: 0.75;
	&:hover {
		background: #d5cba6;
		opacity: 1;
	}
}

.message.goingto, .message.me.goingto {
	background: #d5cba6;
}
.message {
	&.flash {
		&:nth-child(odd) {
			background: rgba(255, 215, 0, 0.6);
		}
		&:nth-child(even) {
			background: rgba(215, 255, 0, 0.6);
		}
		transition: background-color 1s;	
	}
	a, a:visited {
		color: Sienna ;
	}
}

.list {
	width: 100%;
	margin-bottom: 30px;
	th, td {
		padding: 8px;
		background: white;
		text-align: left;
	}
	tr:nth-child(even) {
		th, td {
			background: #faf7d5;
		}
	} 
	td.role {
		width: 45px;
	}
}

#auths-page {
	position: relative;
}
#roomButtons {
	text-align: center;
}
#changeroom, #editroom{
	float: right;
	margin: 1px 3px;
}
#auths {
	float: right;
	margin: 1px 8px 1px 0;
}
body.mobile #changeroom, body.mobile #editroom{
	float: inherit;
}
div#logo {
	background: $bg-color;
	margin: 0;
	padding: 3px;
}
div#notifs {
	color: #c2b0a8;
}
body.desktop {
	.MP {
		width: 70%;
		max-width: 1000px;
		min-width: 800px;
	}
	.thinMP {
		width: 70%;
		max-width: 600px;
		min-width: 500px;
		margin: auto;
	}
}
.MP, .thinMP {
	margin: auto;
	position: relative;
}

#response {
	color: #555;
}

.icon {
	font-family: "fontello";
}

.private::before {
	font-family: "fontello";
	content:"\e814";
	margin-right: 3px;
	opacity: 0.7;
	padding-right: 1px;
	font-size: 70%;
}
.notification {
	padding: 5px;
	background-color: $notifications-bg-color;
	.user {
		font-style:italic;
		z-index: 8;
		padding: 4px;
	}
	button {
		margin-left: 10px;
	}
	.remover {
		float: right;
	}
}

.olderLoader, .newerLoader {
	cursor: pointer;
	text-align: center;
	font-style:italic;
	font-size: 95%;
	opacity: 0.7;
}
.newerLoader + .olderLoader {
	border-top:solid 7px #ccc;	
}

@media (max-height: 400px) {
	.dialog.intro {
		top: 10%;
	}
}
@media (min-height: 400px) and (max-height: 800px) {
	.dialog.intro {
		top: 170px;
	}
	body.logo {
		background: $bg-color url(Miaou-300-f.png) center no-repeat;
		background-position: 50% 1px;
	}
}
@media (min-height: 800px) {
	.dialog.intro {
		top: 35%;
	}
	body.logo {
		background: $bg-color url(Miaou-300-f.png) center no-repeat;
		background-position: 50% 100px;
	}
}

// light tabs of the right column of the chat
.tabs {
	display: table;
	width: 100%;
	table-layout: fixed;
	font-size: 13px;
	.tab {
		display: table-cell;
		text-align: center;
		padding: 5px;
		border-style:solid;
		border-color:  #655;
		border-width: 0 0 1px 0;
		border-radius: 0;
		opacity: 0.5;
		color: #655;
		cursor: pointer;
		font-weight: bold;
		&:hover {
			opacity: 0.8;
		}
		&.selected {
			border-width: 1px 1px 0 1px;
			&:first-child {
				border-width: 1px 1px 0 0;
			}
			&:last-child	 {
				border-width: 1px 0 0 1px;
			}
			opacity: 1;
			font-weight: bold;
		}
	}
}
.page {
	width: 100%;
	display: none;
	&.selected {
		display: block;
	}
}


#searchInput {
	width: calc(100% - 12px);
	margin: 4px;
}


@import "mwin";
@import "history";
@import "dialog";
@import "profile";
@import "home";
@import "mobile-chat";
