@import "comp-flex";
@import "variables";
@import "variables-default";
@import "general";
@import "chat";
@import "mwin";
@import "history";
@import "dialog";
@import "profile";
@import "home";
@import "prefs";
@import "scrollbars";
@import "mobile-chat";
@import "wzin";
@import "pad";
@import "watch";
@import "user-page";
@import "username";
@import "tabs";
@import "help";
@import "room-list";
@import "content-rating";
@import "autocomplete";
@import "load-bar";
@import "prettify"; // a theme for google-prettify
