// see miaou.win.js
.mwincontainer {
	z-index: 20;
	position: fixed;
	display: flex;
	pointer-events: none;
	&.left {
		width: 140px;
		left: 0;
		bottom: 30px;
		top: 0;
		flex-direction: column-reverse;
		align-items: flex-start;
		.mwintab {
			margin-top: 5px;
			margin-left:  -4px;
		}
	}
	&.top {
		height: 30px;
		left: 120px;
		right: 0;
		top: 0;
		flex-direction: row;
		.mwintab {
			margin-left: 5px;
			margin-top: -4px;
		}
	}
	&.right {
		width: 140px;
		right: 0;
		bottom: 30px;
		top: 0;
		flex-direction: column-reverse;
		align-items: flex-end;
		.mwintab {
			margin-top: 5px;
			margin-right:  -4px;
		}
	}
	&.bottom {
		height: 25px;
		left: 20px;
		right: 0;
		bottom: 0;
		flex-direction: row;
		.mwintab {
			margin-left: 5px;
			margin-bottom: -6px;
		}
	}
	.mwintab {
		background: $bg-color;
		border-radius: 4px;
		border: 5px solid transparentize( darken( $bg-color, 15% ), .12 );
		padding: 3px;
		display: inline-block;
		font-size: 90%;
		cursor: pointer;
		box-shadow: 0 0 5px black;
		opacity: 0.8;
		overflow: hidden;
		pointer-events: auto;
		max-width: 125px;
		&:hover {
			opacity: 1;
		}
		&.new {
			border: 5px solid yellow;			
		}
	}
}
#mwin {
	position: fixed;
	left: 50%;
	top: 8%;
	width: 900px;
	margin-left: -450px;
	z-index: 21;
	padding: 20px;
	border-radius: 5px;
	box-shadow: $mwin-shadow;
	background: $mwin-bg;
	.content {
		background: $mwin-content-bg;
		padding: 2px;
		overflow-y: auto;
	}
	.remover {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		text-align: center;
		height: 20px;
		z-index: 22;
		cursor: pointer;
		padding: 3px;
		font-weight: bold;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	.sider {
		font-family: "fontello";
		position: absolute;
		text-align: center;
		z-index: 22;
		cursor: pointer;
		opacity: 0.7;
		&.left {
			top: 20px;
			left: 0;
			bottom: 20px;
			width: 20px;
			padding-top: 8px;
			&::before {
				content:"\e820"; // fontello icon-left-big
			}
		}
		&.top {
			left: 20px;
			height: 16px;
			right: 20px;
			top: 0;
			padding-top: 4px;
			&::before {
				content:"\e822"; // fontello icon-top-big
			}
		}
		&.right {
			width: 20px;
			top: 20px;
			right: 0;
			bottom: 20px;
			padding-top: 8px;
			&::before {
				content:"\e821"; // fontello icon-right-big
			}
		}
		&.bottom {
			left: 20px;
			height: 16px;
			right: 20px;
			bottom: 0;
			padding-top: 4px;
			&::before {
				content:"\e81f"; // fontello icon-down-big
			}
		}
		&:hover {
			background: rgba(0,0,0,0.2);
			opacity: 1;
		}
	}
}
