
#server-warning {
	flex: 0 0 40px;
	line-height: 40px;
	text-align: center;
	background: rgba(200, 0, 0, .8);
	color: rgba(250, 250, 250, 1);
	a {
		color: inherit;
		margin: 5px;
	}
}

#stripe {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 50;
	box-shadow: $closed-stripe-shadow;
	background: $pad-background;
	&.open {
		box-shadow: $open-stripe-shadow;
	}
}
#stripe-top {
	display: flex;
	flex-direction: row;
	min-height: 40px;
}

#non-top {
	opacity: 1;
	&.behind {
		opacity: $opacity-behind-open-top;
		transition: opacity .4s;
	}
}

#M-menu {
	position: fixed;
	top: 0;
	z-index: 70;
	color: $menu-item-color;
	a.menu-item {
		color: $menu-item-color;
		text-decoration: none;
		display: block;
		padding: 10px;
		cursor: pointer;
		&:hover {
			background: $menu-item-hover-bg;
		}
	}
	&.open {
		width: 260px;
		box-shadow: 0 0 2px black;
		background: $menu-background;
	}
}
#Miaou-logo-wrapper {
	position: relative;
	display: block;
	height: 40px;
	width: 38px;
	overflow: hidden;
}
#Miaou-logo-wrapper:after { // to make the link clickable, as events don't bubble out of the svg document
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#M-menu:hover #Miaou-logo-wrapper {
	width: 200px;
	transition: width .9s .2s;
}
#Miaou-logo {
	height: 40px;
	padding-left: 2px;
}
#menu-content {
	display: none;
}
#M-menu.open #menu-content {
	display: block;
}
#menu-settings::before {
	font-family: "fontello";
	content: "\e81d "; // fontello icon-sliders
	margin-right: 5px;
}
#menu-logout::before {
	font-family: "fontello";
	content: "\e81e "; // fontello icon-logout
	margin-right: 5px;
}
#menu-help::before {
	font-family: "fontello";
	content: "\e80b "; // fontello icon-help-circled
	margin-right: 5px;
}
#menu-home::before {
	font-family: "fontello";
	content: "\e80d "; // fontello icon-home
	margin-right: 5px;
}

#room-panel-wrapper {
	margin-left: 40px;
	position: relative;
	flex: 0 1 430px;
}
#room-panel-bg, #room-panel {
	position:absolute;
	top:0; left:0; right:0;bottom:0;
}
#room-panel-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.6;
}
#room-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 4px;
	button {
		opacity: 0;
		transition: opacity 1s;
	}
}
#room-panel:hover button {
	opacity: 1;
	transition: opacity .5s;
	z-index: 2;
}
#room-title {
	flex: 1 0;
	#roomname {
		color: $roomname-color;
		text-decoration: none;
		text-shadow: $roomname-text-shadow;
		font-size:115%;
	}
}

#rooms-panel {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	&.closed {
		height: 0;
		transition: height .5s;
	}
	&.open {
		height: 71vh;
		transition: height .5s;
	}
}
#rooms {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
#rooms-content {
	flex: 1 0;
}
#rooms-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 5px;
}

.pad .rooms-tabs {
	display: flex;
	flex-direction: row;
	flex: 0 0 34px;
	.tab, .aftertabs {
		line-height: 24px;
		text-align: center;
		padding: 5px 10px;
		border-style:solid;
		border-color:  $chat-tabs-border-color;
		border-width: 0 0 $chat-tabs-border-width 0;
		color: $unselected-room-tab-color;
		background-image: $chat-tabs-unselected-bg-image;
	}
	.tab {
		cursor: pointer;
		&:hover {
			color: $hovered-room-tab-color;
		}
		&.selected {
			color: $selected-room-tab-color;
			background-image: $chat-tabs-selected-bg-image;
			background-color: $room-tab-bg-color;
			border-width: $chat-tabs-border-width $chat-tabs-border-width 0 $chat-tabs-border-width;
		}
		.watch-count {
			margin-left: 2px;
			font-size: 95%;
		}
	}
	.aftertabs {
		flex: 1 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

#rooms-panel #rooms-page {
	border-style:solid;
	border-color: $chat-tabs-border-color;
	border-width: 0 $chat-tabs-border-width $chat-tabs-border-width $chat-tabs-border-width;
}

body.desktop #rooms-page {
	padding: 5px 0;
}

#non-top {
	#left, #right, #center {
		top: 40px;
		overflow-x: hidden;
	}
	#left {
		padding-top: 5px;
	}
	#right {
		overflow-y: hidden;
		display: flex;
		flex-direction: column;
	}
}

#right #room-area {
	flex: 0 0 auto;
	position: relative;
	background-size: cover;
	background-position: center center;
	-webkit-mask-image: linear-gradient(black, black, transparent);
	mask-image: linear-gradient(black, black, transparent);
	margin-bottom: 15px;
	height: 90px;
	transition: all .5s .9s;
	display: flex;
	flex-direction: column;
	& > div {
		background: $square-description-opacifier-bg;
	}
	#room-controls {
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		transition: all .5s .9s;
	}
	#room-description {
		flex: 1 1;
		overflow: hidden;
		padding-bottom: 20px;
		transition: all .5s .9s;
		position: relative;
		a {
			color: inherit;
		}
	}
}
#right #room-area:hover {
	height: 350px;
	transition: all .5s;
	#room-controls {
		height: 30px;
		transition: all .5s;
		padding-bottom: 4px;
	}
	#room-description {
		-webkit-mask-image: none;
		transition: all .5s;
		overflow-y: hidden;
		a {
			color: $roomname-color;
		}
	}
}
#right #room-area.has-background-image:hover {
	#room-description {
		color: $square-description-color;
		text-shadow: $square-room-description-text-shadow;
	}
}

.room-control {
	font-size: 95%;
	flex: 1;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	margin: 0 5px 0 0;
	background: $room-control-bg;
	color: $room-control-color;
	&:hover {
		background: $room-hover-control-bg;
		color: $room-hover-control-color;
	}
	&::before {
		@extend .fontello;
		font-size: 110%;
		margin-right: 4px;
	}
}
#room-watch, #room-unwatch {
	margin: 0 5px 0 5px;
}

#room-edit::before {
	content: '\e817'; // fontello icon-pencil
}
#auths::before {
	content: '\e832'; // fontello icon-users
}
#room-watch::before {
	margin: 0 5px 0 5px;
	content: '\e811'; // fontello icon-eye
}
#room-unwatch::before {
	content: '\e812'; // fontello icon-eye-off
}


#room-search-reset {
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
}

#create-room {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#room-search-div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#room-search-input {
	flex: 1 0 50px;
}

#notablemessagespage {
	.message {
		border-top: none;
	}
}
