#Prefs-logo {
	height: 60px;
}
body.prefs {
	// note : some parts are shared and defined in home.scss
	overflow-y: auto;
	background: $home-bg;
	a {
		color: black;
	}
	#prefs-tabs, #prefs-tab-shadows {
		.tab {
			height: 30px;
			position: absolute;
			width: 100px;
			background: $home-tab-bg;
			&:nth-child(2) {
				margin-left:140px;
			}
			&:nth-child(3) {
				margin-left:280px;
			}
			&:nth-child(4) {
				margin-left:420px;
			}
			&:nth-child(5) {
				margin-left:560px;
			}
			text-align: center;
			padding: 8px;				
		}		
	}
	&.mobile {
		#prefs-tabs, #prefs-tab-shadows {
			.tab {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 50px;
				&:nth-child(1) {
					margin-left:10px;				
				}
				&:nth-child(2) {
					margin-left:75px;
				}
				&:nth-child(3) {
					margin-left:150px;
				}
				&:nth-child(4) {
					margin-left:225px;
				}
				&:nth-child(5) {
					margin-left:300px;
				}
				padding: 4px;				
			}		
		}
	}

	#prefs-tabs {
		height: 30px;
		.tab {
			z-index: 2;
			cursor: pointer;
			&.selected {
				z-index: 4;
				cursor: inherit;
			}
		}
	}
	#prefs-tab-shadows {
		margin-top: -30px;
		.tab {
			z-index: 1;
			box-shadow: $home-mi-shadows;
			&.selected {
				box-shadow: $home-main-shadows;
			}
		}
	}
	#prefs-main {
		position: absolute;
		left:0; right:0;
		@include flexbox(row, center, center);
		&.hastabs {
			margin-top: 26px;
		}
		z-index: 3;
		background: $home-tab-bg;
		box-shadow: $home-main-shadows;
		padding: 15px;
		#prefs-main-content {
			.page {
				display: none;
				&.selected {
					display: block;
				}
			}
		}
		h3 {
			margin-left: 8px;
			margin-bottom: 5px;
		}
	}
	#logo {
		margin-top: 6px;
	}
	p.links {
		margin-top: 5px;
		.username {
			margin: 0 5px;
			font-style: italic;
		}
		a {
			white-space:nowrap;
			margin: 0 5px;
		}
	}
	&.desktop {
		#home-main-content {
			width: 70%;
			max-width: 1000px;
			min-width: 800px;
		}
	}
	&.mobile {
		#logo {
			margin-top: 6px;
			text-align: center;
		}
		line-height: 25px;
		p.links a {
			margin-right: 15px;
		}
		p.links a+a {
			margin-left: 15px;
		}
	}
}

#avatar-edit {
	@include flexbox(row, stretch);
}
#avatar-fields {
	flex: 1;
	@include flexbox(column);
}
.avatar-fields-row {
	@include flexbox(row, center);
	input, select, label, p {
		margin: 10px;
	}
}
#avatar-preview {
	@include flex(1 0 220px);
	@include flexbox(row, center, center);
	height: 220px;
	img {
		max-height: 220px;
		max-width: 220px;
	}
}
body.mobile #avatar-preview {
	@include flex(1 0 100px);
	height: 100px;
	img {
		max-height: 100px;
		max-width: 100px;
	}
}

