div.externalProfile {
	margin: 4px;
	width: 208px;
	padding: 0;
}
.externalProfiles {
	text-align: left;
	margin-left: 8px;
	section.externalProfileForm, table.form {
		td {
			text-align: left;
		}
		input {
			float:none;
			width: 100px;
			margin: 0;
			padding: 0;
			&[type=checkbox]{
				width: initial;
				margin: 2px 8px 0 0;
			}
		}
		div.inputs {
			padding: 10px 0;
		}
	}
	h2 {
		margin-left: -10px;
		margin-bottom: -5px;
		font-size: 110%;
	}
	h3 {
		font-size: 100%;
	}
}

.desktop .externalProfiles input[type=url]{
	width: 450px;
}

.profile {
	opacity: 1;
	//transition: opacity .3s .3s;
	padding: 5px;
	box-shadow: $profile-box-shadow;
	color: $profile-text-color;
	.avatar {
		display: block;
		margin: auto;
		max-width: 150px;
		-webkit-filter: $profile-avatar-filter;
		filter: $profile-avatar-filter;
	}
	a {
		color: $profile-text-color;
	}
	h1 {
		width: 100%;
		text-align: center;
		font-size: 110%;
		color: $user-profile-title-color;
	}
	h2 {
		margin-top: 4px;
		font-size: 100%;
		color: $user-profile-title-color;
	}
	p {
		padding: 0;
	}
}
.desktop .profile {
	padding: 8px;
	width: 216px;
	min-height: 100px;
}

.desktop.buttons-hovered .profile {
	opacity: 0;
	transition: opacity .3s .3s;
}

.mobile .profile {
	overflow-y: scroll;
}
.desktop .profile, .mobile .profile-page {
	position: fixed;
	background: $profile-bg;
	z-index: 31;
}
.profile-page {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}
.profile-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	button, i {
		flex: 1 1 auto;
	}
	i {
		text-align: center;
		color: $profile-text-color;
	}
}

.profiled .avatar {
	-webkit-filter: $profiled-avatar-filter;
	filter: $profiled-avatar-filter;
}

@media (max-height: 500px) {
	.profile .avatar {
		display: none;
	}
}
@media (min-height: 500px) and (max-height: 750px) {
	.profile .avatar {
		max-height: 60px;
	}
}
@media (min-height: 750px) {
	.profile .avatar {
		max-height: 150px;
	}
}

body:not(.buttons-hovered) .user.profiled {
	box-shadow: $profile-box-shadow;
	background: $profile-bg;
	//transition: background .3s .3s;
	z-index: 6;
	span {
		color: $profile-text-color;
		transition: color .3s .3s;
	}
	span, .avatar {
		opacity: 0;
		transition: opacity .3s .3s;
	}
}

#userinfo {
	th {
		font-weight: normal;
		text-align: left;
		padding-right: 10px;
		color: $title-text-color;
	}
	span.def {
		margin: 3px;
		display: inline-block;
		color: $user-def-color;
		&::after {
			content: " :";
		}
	}
	span.val {
		margin: 3px;
		padding-left: 3px;
		display: inline-block;
		word-break: break-word;
	}
	.user-title {
		margin: 3px;
		padding-left: 3px;
		text-align: center;
	}
}
