div.externalProfile {
	margin: 4px;
	width: 208px;
	padding: 0;
}
.externalProfiles {
	text-align: left;
	margin-left: 8px;
	section.externalProfileForm, table.form {
		td {
			text-align: left;
		}
		input {
			float:none;
			width: 100px;
			margin: 0;
			padding: 0;
		}
		input[type=checkbox]{
			width: initial;
			margin: 2px 8px 0 0;
		}
		div.inputs {
			padding: 10px 0;
		}
	}
	h2 {
		margin-left: -10px;
		margin-bottom: -5px;
		font-size: 110%;
	}
	h3 {
		font-size: 100%;	
	}
}

.profile {
	position: absolute;
	z-index:6;
	padding: 5px;
	box-shadow: 2px 2px 2px #999;
	width: 216px;
	min-height: 24px;
	color: black;
	background: $profile-bg-color;
	h1 {
		width: 100%;
		text-align: center;
		font-size: 110%;
	}
	h2 {
		margin-top: 4px;
		font-size: 100%;
	}
	p {
		padding: 0;
	}
}
.user.profiled {
	box-shadow: 2px 2px 2px #999;
	background: $profile-bg-color;
	z-index: 6;
}

#userinfo {
	th {
		font-weight: normal;
		text-align: left;
		padding-right: 10px;
		color: #655;
	}
	div {
		span.def {
			margin: 3px;
			display: inline-block;
			color: #655;
			&::after {
				content: " :";
			}
		}
		span.val {
			margin: 3px;
			padding-left: 3px;
			display: inline-block;
			word-break: break-word;
		}
	}
}
