body.pad #rooms-page {
	overflow-y: scroll;
	background-color: $room-tab-bg-color;
}

#rooms-page {
	flex: 1 1;
	max-width: 1205px;
}

.room-list .room {
	margin: 2px;
}
body.home.mobile .room-list {
	justify-content: center;
}

.room-list, .room-bubble, #room-preview {
	display: flex;
	flex-wrap: wrap;
	.room {
		width: 194px;
		height: 194px;
		&.dialog-square {
			width: 144px;
			height: 144px;
		}
		cursor: pointer;
		background: $square-room-bg;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		box-shadow: $square-room-box-shadow;
		overflow: hidden;
		position: relative;
		&:hover {
			box-shadow: $square-room-hover-box-shadow;
			transition: box-shadow .2s;
		}
		.room-head {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			a.room-title {
				flex-grow: 1;
				text-align: center;
				color: $square-room-name-color;
				font-size: 95%;
				overflow: hidden;
				text-overflow: ellipsis;
				text-decoration: none;
			}
		}
		.under-room-description {
			background-size: cover;
			background-position: center center;
			flex-grow: 1;
			position: relative;
		}
		.room-description {
			background: $square-description-opacifier-bg;
			color: $square-description-color;
			text-shadow: $square-room-description-text-shadow;
			overflow: hidden;
			font-size: 90%;
			text-overflow: ellipsis;
			padding: 4px;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			a, a:visited {
				color: $square-description-color;
			}
		}
		.room-hover {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 0;
			background: $square-room-hover-bg;
			overflow: hidden;
			transition: height .4s;
		}
		&:hover .room-hover {
			height: 54px;
			transition: height .2s .1s;
		}
		.room-last-created {
			font-size: 80%;
			color: $square-room-last-created-color;
			height: 20px;
			line-height: 20px;
			text-align: center;
			text-shadow: $square-room-last-created-text-shadow;
		}
		.room-buttons {
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
}
.watch-count {
	background: rgba(255,255,255,.4);
	color: $watch-count-color;
	opacity: .8;
	padding: 0 5px;
	display: inline-block;
	z-index: 2;
	border-radius: 4px;
	left: 100%;
	top: 5px;
	margin-right: 4px;
	&.has-unseen {
		opacity: 1;
		background: $watch-count-new-bg;
		&.has-ping {
			background: $watch-count-ping-bg;
		}
	}
}
.room-title-cell .watch-count {
	position: absolute;
}

.room-bubble {
	.no-access {
		margin-top: 5px;
		max-width: 125px;
		color: red;
		font-size: 90%;
	}
	.room-contacts {
		margin-top: 5px;
		max-width: 125px;
		font-size: 90%;
	}

}
