body.username {
	background: $username-page-bg;
	color: $usename-page-color;
	#user-miaou-logo-wrapper {
		border-bottom: thin solid $usename-page-color;
		padding-bottom: 15px;
		margin-bottom: 15px;
		cursor: auto;
	}
}

#username-main {
	width:330px;
	margin:auto;
	padding:40px 4px;
}

#buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-top: thin solid $usename-page-color;
	padding-top: 15px;
}

.generated-color {
	background-color: $user-min-color;
	color: $user-max-color;
}

