// To create a theme, create a directory in /themes
//  with a variables.scss file and copy from here
//  the variables you want to override.

// chat colors
$bg-color: #F0EAD6 !default;
$left-background: linear-gradient( lighten($bg-color, 5%), darken($bg-color, 10%) ) !default;
$right-background: linear-gradient( lighten($bg-color, 5%), darken($bg-color, 10%) ) !default;
$box-background: white !default;

$general-text-color: black !default;
$title-text-color: #655 !default;
$message-list-bg: white !default;
$message-me-bg: rgba(240,234,214,0.5) !default;
$notifications-bg-color: #fffa9e !default;
$notification-text-color: black !default;

$connected-user-bg-color-in-user-list: rgba(255,255,255,0.55) !default;
$connected-user-text-color-in-user-list: black !default;

$user-text-color-in-user-list: #444 !default;
$user-text-color-in-message: #555 !default;
$code-text-color: #444 !default;

$input-bg: white !default;
$input-text-color: black !default;

$message-normal-border-top: thin dotted #ddd !default;
$message-normal-border-bottom: none !default;
$message-me-normal-border-top: $message-normal-border-top !default;
$message-me-normal-border-bottom: $message-normal-border-bottom !default;
$message-border-top-after-bisrupt: thin solid #ddd !default;
$message-border-bottom-before-bisrupt: none !default;

$message-decoration-button-box-shadow: 1px 1px 2px #999 !default;
$message-content-bg: transparent !default;

$side-message-border-top: thin solid rgba(255,255,255,0.1) !default;
$side-message-border-bottom: thin solid rgba(0,0,0,0.1) !default;
$side-message-even-background: rgba(0,0,0,0.03) !default;

$input-border: inherit !default;

$message-content-table-border-color: #bbb !default;
$decoration-color: #aaa !default;
$decoration-clickable-color: #444 !default;
$deleted-message-color: #666 !default;

$message-menu-bg: white !default;
$message-menu-color: #555 !default;
$message-menu-txt-color: black !default;
$message-menu-vote-color: #888 !default;
$message-menu-vote-hover-color: #555 !default;
$message-menu-link-color: #336 !default;

$message-me-user-bg: inherit !default;
$message-me-user-color: inherit !default;			

$message-link-color: Sienna !default;

$message-votes-color: black !default;

$slashme-color: #333 !default;
$citation-border-color: #bbb !default;
$h3-underline-color: black !default;
$h4-underline-color: #333 !default;
$h5-underline-color: #999 !default;
$center-shadow: 0 0 7px black !default;

$opener-closer-color: #988 !default;
$opener-closer-hover-color: black !default;
$opener-bg: rgba( $bg-color , 0.52) !default;
$opener-hover-bg: rgba(255,255,255,0.6) !default;
$closer-bg: rgba( $bg-color , 0.32) !default;
$closer-hover-bg: rgba(255,255,255,0.6) !default;

$reply-box-bg: #ede7d3 !default;
$reply-box-hover-bg: #d5cba6 !default;
$reply-box-color: #222 !default;

$goingto-bg: #d5cba6 !default;

$mwin-bg: transparentize( darken( $bg-color, 15% ), .12 ) !default;
$mwin-content-bg: white !default;
$mwin-shadow: 0 0 5px black !default;

$first-not-seen-top-border: 6px dotted rgba(0,0,0,0.1) !default;



// side tabs
$chat-tabs-border-color: #655 !default;
$chat-tabs-border-width: 1px !default;
$chat-tabs-unselected-bg-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.01),rgba(0,0,0,0.07)) !default;
$chat-tabs-selected-bg-image: none !default; 

// message sizing
$message-min-height: 30px !default;
$user-padding-in-message: 1px 3px !default;
$message-content-padding: 4px !default;
$message-content-line-height: 1.5 !default;
$message-content-flex-grow: 1 !default;
$message-content-border-radius : inherit !default;
$message-content-margin: 0 !default;

// profile in chat
$profile-bg: #fffcc5 !default;
$profile-box-shadow: 2px 2px 2px #999 !default;
$profile-text-color: black !default;

// buttons
$button-bg-color: #E3DAC9 !default;
$button-text-color: #333 !default;
$button-box-shadow: 1px 1px 3px #999 !default;
$button-border: 1px solid #999 !default;
$button-hover-bg-color: #E3DAC9 !default;
$button-hover-text-color: black !default;
$button-hover-border-color: #666 !default;
$small-button-box-shadow: 1px 1px 2px #999 !default;

// chat layout
$input-height: 83px !default; // height of input
$left-panel-width: 150px !default;
$right-panel-width: 350px !default;
$hist-width: 200px !default;

// mobile chat layout
$minput-height: 50px !default; // height of input in mobile interface
$mtab-height: 39px !default;   // height of the top tabs in mobile interface

// dialog
$dialog-bg: white !default; 
$dialog-color: black !default;
$dialog-title-bg: #E3DAC9 !default;

// wzins
$wzin-conv-bg: ( rgba(139, 69, 19, .2), rgba(42, 18, 234, .17), rgba(180, 237, 228, .4), rgba(192, 169, 244, .4) ) !default;
$wzin-edit-bg: rgba(208, 120, 16, .3) !default;
$wzin-reply-bg: rgba(71, 71, 249, .15) !default;
$wzin-link-bg: rgba(222, 1, 80, .25) !default;

